<!DOCTYPE html>
<html lang="nb">

<head>
  <meta charset="utf-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width, shrink-to-fit=no, initial-scale=1" name="viewport">
  <meta content="" name="description">
  <meta content="Petter Holstad" name="author">

  <title>pdog.no</title>

  <link rel="icon" href="/favicon.png">
  <link href="/style.css" rel="stylesheet">
  
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">

  <script src="https://kit.fontawesome.com/72ae453d62.js" crossorigin="anonymous"></script>

  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"
    defer></script>
</head>

<body>
  <header>
    {{ partial "nav.html" . }}
  </header>
  <br><br><br><br>
  <main class="col-md-9 col-xl-8 py-md-3 pl-md-5 bd-content">
</nav>
    {{ with .Title }}
      <h1>{{ . }}</h1>
    {{ end }}
    {{ block "main" . }}
    {{ end }}
  </main>
</div></body>

<footer class="bg-light text-center text-lg-start">
<hr>
  <div class="container p-4">
    <div class="row">
      <!-- About text -->
      <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
        <p>
pdog.no er den personlige nettsiden til Petter Dog Holstad, som samler prosjekter, tanker, ideer
konsepter, innhold og liknende jeg skaper, publiserer og vil dele med verden.</p>
      </div>

      <!-- Links -->
      <div class="col-lg-2 col-md-6 mb-4 mb-md-0">

            <a href="../tilbakemeldinger" class="text-dark">Tilbakemeldinger</a><br>
            <a href="../finansiering" class="text-dark">Støtt nettsiden</a><br>
            <a href="../personvern" class="text-dark">Personvernerklæring</a><br>
            <a href="../lisens" class="text-dark">Lisensier innhold</a>
      </div>

      <!-- Company Information -->
      <div class="col-lg-4 col-md-12 mb-4 mb-md-0">
        <p>
          Nettsiden utgis av <a href="../hhh">Holstad Helt og Holdent</a> med 
          organisasjonsnummer: 915 283 497. Redaktør er Petter Dog Holstad. E-post:
          <a href="mailto:hei@pdog.no">hei@pdog.no</a>.<br>
Nettsiden er utviklet av: <a href="https://stigjohan.no">Stig Johan Berggren</a>
</p>
      </div>
    </div>
  </div>

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
<img src="/favicon.png" height="30">  </div>
</footer>


</html>
