{{ define "main" }}
  <!-- {{ partial "sidebar.html" .Site }} -->
  {{ with .Params.subtitle }}
    <span class="subtitle">{{.}}</span>
  {{ end }}
  {{ .Content }}
{{ end }}

{{ define "footer" }}
<p>
  Sist oppdatert {{ .Date }}. Alt innhold er © Petter Holstad. Nettsiden er
  utviklet av Stig Johan Berggren.
  <br>
 <a href="/innspill" target="_blank" rel="noreferrer noopener">Innspill og bidrag</a> • 
  <a href="/diverse/utvikler" target="_blank" rel="noreferrer noopener">Utvikler</a>
  • 
  <a href="/diverse/personvern" target="_blank" rel="noreferrer noopener">Personvern</a> • 
  <a href="../../sidetre" target="_blank" rel="noreferrer noopener">Sidetre</a>
</p>
{{ end }}
