{{ define "main" }}
  <!-- {{ partial "sidebar.html" .Site }} -->
  {{ with .Params.subtitle }}
    <span class="subtitle">{{.}}</span>
  {{ end }}
  {{ .Content }}
{{ end }}

{{ define "footer" }}
<p>
  Sist oppdatert {{ .Date }}. Alt innhold er © Petter Holstad. Nettsiden er
  utviklet av Stig Johan Berggren.
  <br>
  <a href="../../innspill" rel="noreferrer noopener">Innspill og bidrag</a> • 
  <a href="../../utvikler" rel="noreferrer noopener">Utvikler</a> • 
  <a href="../../personvern" rel="noreferrer noopener">Personvern</a> • 
  <a href="../../sidetre" rel="noreferrer noopener">Sidetre</a>
</p>
{{ end }}
