
{{ define "main"}}
    <main id="main">
      <div>      
      <img src="../../404katt.jpeg" alt="Bildet viser en hund som står ved en kjøttpresse og kverner kjøtt. Hunden har et litt forskrekket ansiktsuttrykk. På bildet står følgende tekst (på dansk): Katten!!!!!! Nej den har jeg ikke set ???">
      
       <h1 id="title"><a href="{{ "/" | relURL }}">Gå tilbake til hovedsiden.</a></h1>
      </div>
    </main>
{{ end }}

{{ define "footer" }}
<p>
  Sist oppdatert {{ .Date }}. Alt innhold er © Petter Holstad. Nettsiden er
  utviklet av Stig Johan Berggren.
  <br>
<a href="innspill" target="_blank" rel="noreferrer noopener">Innspill og bidrag</a> • 
  <a href="utvikler" target="_blank" rel="noreferrer noopener">Utvikler</a>
  • 
  <a href="personvern" target="_blank" rel="noreferrer noopener">Personvern</a> • 
  <a href="sidetre" target="_blank" rel="noreferrer noopener">Sidetre</a> • <a href="../../om" target="_blank" rel="noreferrer noopener">Om</a>
</p>
{{ end }}
