iframe {
  border: 0;
}

.rute-wrapper {
  display: flex;
  flex-wrap: wrap;
  vertical-align: middle;
}

.rute {
  color: white;
  text-align: center;
  margin: 2px;
  min-width: 2rem;
  padding: 0rem 0.5rem;
}

.bybuss {
  background: #f2102d;
}

.nattbuss {
  background: #000000;
}

.regionbuss {
  background: #6cbe4e;
}

.metro {
  background: #f47b21;
}

.tram {
  background: #3F90E8;
}

.flybuss {
  background: #0086C2;
}

.nettbuss {
  background: #1D155B;
}

.streikebuss {
  background: #726F6E;
  text-decoration: line-through;
}

.callout {
  padding: 20px;
  margin: 20px 0;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 3px;
  h4 {
    margin-top: 0;
    margin-bottom: 5px;
  }
  p:last-child {
    margin-bottom: 0;

  }
  code {
    border-radius: 3px;
  }
  & + .bs-callout {
    margin-top: -5px;
  }
}
@each $name,$color in (default,#777),(primary,#428bca),(success,#5cb85c),(danger,#d9534f),(warning,#f0ad4e),(info,#5bc0de), (bdc,#29527a) {
  .callout-#{$name} {
    border-left-color: $color;
    h4 {
      color: $color;
    }
  }
}

.callout {
  padding: 10px;
  margin: 20px 0;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 3px;
  h4 {
    margin-top: 0;
    margin-bottom: 5px;
  }
  p:last-child {
    margin-bottom: 0;
  }
  code {
    border-radius: 3px;
  }
  & + .bs-callout {
    margin-top: -5px;
  }
}
@each $name,$color in (default,#777),(primary,#428bca),(success,#5cb85c),(danger,#d9534f),(warning,#f0ad4e),(info,#5bc0de), (bdc,#29527a) {
  .callout-#{$name} {
    border-left-color: $color;
    h4 {
      color: $color;
    }
  }
}