<style type="text/css">
.tg  {border-collapse:collapse;border-color:#ccc;border-spacing:0;}
.tg td{background-color:#fff;border-color:#ccc;border-style:solid;border-width:1px;color:#333;
  font-family:Arial, sans-serif;font-size:14px;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg th{background-color:#f0f0f0;border-color:#ccc;border-style:solid;border-width:1px;color:#333;
  font-family:Arial, sans-serif;font-size:14px;font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tg-j37l{background-color:#F9F9F9;border-color:#000000;color:#212529;text-align:center;vertical-align:top}
.tg .tg-vmf5{background-color:#efefef;border-color:#000000;font-size:14px;font-style:italic;text-align:center;vertical-align:top}
.tg .tg-uecc{background-color:#F9F9F9;border-color:#000000;color:#000000;font-weight:bold;text-align:center;vertical-align:top}
.tg .tg-ovcf{background-color:#cbcefb;border-color:#000000;color:#000000;text-align:center;vertical-align:top}
.tg .tg-k6ck{background-color:#FFF;border-color:#000000;color:#333;text-align:center;vertical-align:top}
.tg .tg-g92v{background-color:#FFF;border-color:#000000;color:#333;text-align:center;vertical-align:top}
.tg .tg-yjaj{border-color:#000000;color:#fe0000;text-align:center;vertical-align:top}
.tg .tg-j4pq{background-color:#efefef;border-color:#000000;text-align:center;vertical-align:top}
.tg .tg-wqgo{background-color:#cbcefb;border-color:#000000;text-align:center;vertical-align:top}
.tg .tg-qvkr{background-color:#F9F9F9;border-color:#000000;color:#FE0000;font-weight:bold;text-align:center;vertical-align:top}
.tg .tg-k5uv{background-color:#F9F9F9;border-color:#000000;text-align:center;vertical-align:top}
.tg .tg-kps5{background-color:#cbcefb;border-color:#000000;color:#333;text-align:center;vertical-align:top}
.tg .tg-ignm{background-color:#cbcefb;border-color:#000000;color:#333;text-align:center;vertical-align:top}
.tg .tg-hk9g{background-color:#cbcefb;border-color:#000000;font-weight:bold;text-align:center;vertical-align:top}
.tg .tg-4r86{background-color:#9698ed;border-color:#000000;font-size:36px;text-align:center;vertical-align:top}
.tg .tg-nhhn{background-color:#F0F0F0;border-color:#000000;color:#333;font-size:24px;font-weight:bold;text-align:center;
  vertical-align:top}
.tg .tg-w9iw{background-color:#F0F0F0;border-color:#000000;font-size:24px;font-weight:bold;text-align:center;vertical-align:top}
.tg .tg-vxqr{background-color:#efefef;border-color:#000000;font-size:24px;font-weight:bold;text-align:center;vertical-align:top}
.tg .tg-upu9{background-color:#efefef;border-color:#000000;font-style:italic;text-align:center;vertical-align:top}
.tg .tg-g53r{background-color:#cbcefb;border-color:#000000;color:#333;font-weight:bold;text-align:center;vertical-align:top}
.tg .tg-kf3v{background-color:#F9F9F9;border-color:#000000;color:#333;font-weight:bold;text-align:center;vertical-align:top}
.tg .tg-h7go{background-color:#F9F9F9;border-color:#000000;font-weight:bold;text-align:center;vertical-align:top}
.tg .tg-f791{background-color:#FFF;border-color:#000000;color:#FE0000;font-weight:bold;text-align:center;vertical-align:top}
.tg .tg-w4w7{background-color:#FFF;border-color:#000000;text-align:center;vertical-align:top}
.tg .tg-o2tz{background-color:#F9F9F9;border-color:#000000;color:#333;text-align:center;vertical-align:top}
.tg .tg-qbyi{background-color:#F9F9F9;border-color:#000000;color:#333;text-align:center;vertical-align:top}
.tg .tg-y4s5{background-color:#cbcefb;border-color:#000000;text-align:center;vertical-align:top}
.tg .tg-v5pn{background-color:#FFF;border-color:#000000;color:#333;font-weight:bold;text-align:center;vertical-align:top}
.tg .tg-xavr{background-color:#FFF;border-color:#000000;color:#FE0000;text-align:center;vertical-align:top}
.tg .tg-rizn{background-color:#FFF;border-color:#000000;color:#000000;text-align:center;vertical-align:top}
.tg .tg-v1r8{background-color:#FFF;border-color:#000000;color:#FE0000;text-align:center;vertical-align:top}
.tg .tg-94th{background-color:#F9F9F9;border-color:#000000;color:#fe0000;font-weight:bold;text-align:center;vertical-align:top}
.tg .tg-b5o5{background-color:#FFF;border-color:#000000;color:#fe0000;font-weight:bold;text-align:center;vertical-align:top}
.tg .tg-wlit{background-color:#F9F9F9;border-color:#000000;color:#000000;text-align:center;vertical-align:top}
.tg .tg-04ae{background-color:#F9F9F9;border-color:#000000;color:#FE0000;text-align:center;vertical-align:top}
.tg .tg-76xw{background-color:#cbcefb;border-color:#000000;color:#000000;text-align:center;vertical-align:top}
.tg .tg-ts46{background-color:#FFF;border-color:#000000;color:#000000;text-align:center;vertical-align:top}
.tg .tg-1zis{border-color:#000000;color:#000000;text-align:center;vertical-align:top}
.tg .tg-0i1h{background-color:#f9f9f9;border-color:#000000;color:#000000;text-align:center;vertical-align:top}
.tg .tg-bohg{background-color:#FFF;border-color:#000000;color:#000000;font-weight:bold;text-align:center;vertical-align:top}
.tg .tg-zz86{background-color:#f9f9f9;border-color:#000000;color:#fe0000;text-align:center;vertical-align:top}
.tg .tg-1d3r{background-color:#9698ED;border-color:#000000;color:#333;font-size:24px;font-weight:bold;text-align:center;
  text-decoration:underline;vertical-align:top}
.tg .tg-0d50{background-color:#9698ED;border-color:#000000;color:#333;font-size:36px;font-weight:bold;text-align:center;
  vertical-align:top}
.tg .tg-37z7{background-color:#9698ED;border-color:#000000;color:#333;font-size:24px;font-weight:bold;text-align:center;
  vertical-align:top}
@media screen and (max-width: 767px) {.tg {width: auto !important;}.tg col {width: auto !important;}.tg-wrap {overflow-x: auto;-webkit-overflow-scrolling: touch;}}</style>
<div class="tg-wrap"><table class="tg">
<tbody>
  <tr>
    <td class="tg-1d3r" colspan="8">Dette er første år</td>
    <td class="tg-0d50" colspan="8">2021</td>
    <td class="tg-37z7"><span style="font-weight:bold;font-style:normal;text-decoration:underline"><a href="../2022">2022</a></span></td>
  </tr>
  <tr>
    <td class="tg-nhhn" colspan="8">Nyår og vinter</td>
    <td class="tg-w9iw" colspan="8">Vår og forsommer</td>
    <td class="tg-vxqr">Merkedager</td>
  </tr>
  <tr>
    <td class="tg-vmf5" colspan="8"><span style="font-weight:normal;font-style:italic;text-decoration:none">Tilsvarer januar, februar, mars</span></td>
    <td class="tg-j4pq" colspan="8"><span style="font-weight:normal;font-style:italic;text-decoration:none">Tilsvarer april, mai, juni</span></td>
    <td class="tg-upu9">Fridager og merkedager</td>
  </tr>
  <tr>
    <td class="tg-g53r">U</td>
    <td class="tg-kf3v"><span style="font-weight:bold;color:#333;background-color:#F9F9F9">M</span></td>
    <td class="tg-kf3v"><span style="font-weight:bold;color:#333;background-color:#F9F9F9">T</span></td>
    <td class="tg-kf3v"><span style="font-weight:bold;color:#333;background-color:#F9F9F9">O</span></td>
    <td class="tg-kf3v"><span style="font-weight:bold;color:#333;background-color:#F9F9F9">T</span></td>
    <td class="tg-kf3v"><span style="font-weight:bold;color:#333;background-color:#F9F9F9">F</span></td>
    <td class="tg-kf3v"><span style="font-weight:bold;color:#333;background-color:#F9F9F9">L</span></td>
    <td class="tg-kf3v"><span style="font-weight:bold;color:#333;background-color:#F9F9F9">S</span></td>
    <td class="tg-hk9g">U</td>
    <td class="tg-h7go"><span style="font-weight:bold;color:#000;background-color:#F9F9F9">M</span></td>
    <td class="tg-h7go"><span style="font-weight:bold;color:#000;background-color:#F9F9F9">T</span></td>
    <td class="tg-h7go"><span style="font-weight:bold;color:#000;background-color:#F9F9F9">O</span></td>
    <td class="tg-h7go"><span style="font-weight:bold;color:#000;background-color:#F9F9F9">T</span></td>
    <td class="tg-h7go"><span style="font-weight:bold;color:#000;background-color:#F9F9F9">F</span></td>
    <td class="tg-h7go"><span style="font-weight:bold;color:#000;background-color:#F9F9F9">L</span></td>
    <td class="tg-h7go"><span style="font-weight:bold;color:#000;background-color:#F9F9F9">S</span></td>
    <td class="tg-g92v">2021-02-06<span style="color:#333;background-color:#FFF">: MGP delfinale 1</span></td>
  </tr>
  <tr>
    <td class="tg-kps5"><span style="color:#333">1</span></td>
    <td class="tg-k6ck"><span style="font-weight:normal;font-style:normal;color:#000">01</span></td>
    <td class="tg-k6ck"><span style="font-weight:normal;font-style:normal;color:#000">02</span></td>
    <td class="tg-k6ck"><span style="font-weight:normal;font-style:normal;color:#000">03</span></td>
    <td class="tg-k6ck"><span style="font-weight:normal;font-style:normal;color:#000">04</span></td>
    <td class="tg-k6ck"><span style="font-weight:normal;font-style:normal;color:#000">05</span></td>
    <td class="tg-k6ck"><span style="font-weight:normal;font-style:normal;color:#000">06</span></td>
    <td class="tg-k6ck"><span style="font-weight:normal;font-style:normal;color:#000">07</span></td>
    <td class="tg-wqgo"><span style="color:#000">14</span></td>
    <td class="tg-f791"><span style="font-style:normal">01</span></td>
    <td class="tg-w4w7"><span style="font-style:normal">02</span></td>
    <td class="tg-w4w7"><span style="font-style:normal">03</span></td>
    <td class="tg-w4w7"><span style="font-style:normal">04</span></td>
    <td class="tg-w4w7"><span style="font-style:normal">05</span></td>
    <td class="tg-w4w7"><span style="font-style:normal">06</span></td>
    <td class="tg-w4w7"><span style="font-style:normal">07</span></td>
    <td class="tg-o2tz">2021-03-06<span style="color:#333;background-color:#F9F9F9">: MGP delfinale 2</span></td>
  </tr>
  <tr>
    <td class="tg-ignm"><span style="color:#333">2</span></td>
    <td class="tg-qbyi"><span style="font-weight:normal;font-style:normal;color:#000">01</span></td>
    <td class="tg-qbyi"><span style="font-weight:normal;font-style:normal;color:#000">02</span></td>
    <td class="tg-qbyi"><span style="font-weight:normal;font-style:normal;color:#000">03</span></td>
    <td class="tg-qbyi"><span style="font-weight:normal;font-style:normal;color:#000">04</span></td>
    <td class="tg-qbyi"><span style="font-weight:normal;font-style:normal;color:#000">05</span></td>
    <td class="tg-kf3v"><span style="font-weight:bold;font-style:normal;color:#000">06</span></td>
    <td class="tg-qbyi"><span style="font-weight:normal;font-style:normal;color:#000">07</span></td>
    <td class="tg-y4s5"><span style="color:#000">15</span></td>
    <td class="tg-k5uv"><span style="font-style:normal">01</span></td>
    <td class="tg-k5uv"><span style="font-style:normal">02</span></td>
    <td class="tg-k5uv"><span style="font-style:normal">03</span></td>
    <td class="tg-k5uv"><span style="font-style:normal">04</span></td>
    <td class="tg-k5uv"><span style="font-style:normal">05</span></td>
    <td class="tg-k5uv"><span style="font-style:normal">06</span></td>
    <td class="tg-k5uv"><span style="font-style:normal">07</span></td>
    <td class="tg-g92v">2021-04-06<span style="color:#333;background-color:#FFF">: MGP delfinale 3</span></td>
  </tr>
  <tr>
    <td class="tg-kps5"><span style="color:#333">3</span></td>
    <td class="tg-k6ck"><span style="font-weight:normal;font-style:normal;color:#000">01</span></td>
    <td class="tg-k6ck"><span style="font-weight:normal;font-style:normal;color:#000">02</span></td>
    <td class="tg-k6ck"><span style="font-weight:normal;font-style:normal;color:#000">03</span></td>
    <td class="tg-k6ck"><span style="font-weight:normal;font-style:normal;color:#000">04</span></td>
    <td class="tg-k6ck"><span style="font-weight:normal;font-style:normal;color:#000">05</span></td>
    <td class="tg-v5pn"><span style="font-weight:bold;font-style:normal;color:#000">06</span></td>
    <td class="tg-k6ck"><span style="font-weight:normal;font-style:normal;color:#000">07</span></td>
    <td class="tg-wqgo"><span style="color:#000">16</span></td>
    <td class="tg-w4w7"><span style="font-style:normal">01</span></td>
    <td class="tg-w4w7"><span style="font-style:normal">02</span></td>
    <td class="tg-w4w7"><span style="font-style:normal">03</span></td>
    <td class="tg-w4w7"><span style="font-style:normal">04</span></td>
    <td class="tg-w4w7"><span style="font-style:normal">05</span></td>
    <td class="tg-w4w7"><span style="font-style:normal">06</span></td>
    <td class="tg-w4w7"><span style="font-style:normal">07</span></td>
    <td class="tg-o2tz">2021-05-06<span style="color:#333;background-color:#F9F9F9">: MGP delfinale 4</span></td>
  </tr>
  <tr>
    <td class="tg-ignm"><span style="color:#333">4</span></td>
    <td class="tg-qbyi"><span style="font-weight:normal;font-style:normal;color:#000">01</span></td>
    <td class="tg-qbyi"><span style="font-weight:normal;font-style:normal;color:#000">02</span></td>
    <td class="tg-qbyi"><span style="font-weight:normal;font-style:normal;color:#000">03</span></td>
    <td class="tg-qbyi"><span style="font-weight:normal;font-style:normal;color:#000">04</span></td>
    <td class="tg-qbyi"><span style="font-weight:normal;font-style:normal;color:#000">05</span></td>
    <td class="tg-kf3v"><span style="font-weight:bold;font-style:normal;color:#000">06</span></td>
    <td class="tg-qbyi"><span style="font-weight:normal;font-style:normal;color:#000">07</span></td>
    <td class="tg-y4s5"><span style="color:#000">17</span></td>
    <td class="tg-k5uv"><span style="font-style:normal">01</span></td>
    <td class="tg-k5uv"><span style="font-style:normal">02</span></td>
    <td class="tg-k5uv"><span style="font-style:normal">03</span></td>
    <td class="tg-k5uv"><span style="font-style:normal">04</span></td>
    <td class="tg-k5uv"><span style="font-style:normal">05</span></td>
    <td class="tg-h7go"><span style="font-style:normal">06</span></td>
    <td class="tg-k5uv"><span style="font-style:normal">07</span></td>
    <td class="tg-g92v">2021-06-06<span style="color:#333;background-color:#FFF">: MGP delfinale 5</span></td>
  </tr>
  <tr>
    <td class="tg-kps5"><span style="color:#333">5</span></td>
    <td class="tg-k6ck"><span style="font-weight:normal;font-style:normal;color:#000">01</span></td>
    <td class="tg-k6ck"><span style="font-weight:normal;font-style:normal;color:#000">02</span></td>
    <td class="tg-k6ck"><span style="font-weight:normal;font-style:normal;color:#000">03</span></td>
    <td class="tg-k6ck"><span style="font-weight:normal;font-style:normal;color:#000">04</span></td>
    <td class="tg-k6ck"><span style="font-weight:normal;font-style:normal;color:#000">05</span></td>
    <td class="tg-v5pn"><span style="font-weight:bold;font-style:normal;color:#000">06</span></td>
    <td class="tg-k6ck"><span style="font-weight:normal;font-style:normal;color:#000">07</span></td>
    <td class="tg-wqgo"><span style="color:#000">18</span></td>
    <td class="tg-w4w7"><span style="font-style:normal">01</span></td>
    <td class="tg-w4w7"><span style="font-style:normal">02</span></td>
    <td class="tg-w4w7"><span style="font-style:normal">03</span></td>
    <td class="tg-w4w7"><span style="font-style:normal">04</span></td>
    <td class="tg-w4w7"><span style="font-style:normal">05</span></td>
    <td class="tg-w4w7"><span style="font-style:normal">06</span></td>
    <td class="tg-w4w7"><span style="font-style:normal">07</span></td>
    <td class="tg-o2tz">2021-07-06<span style="color:#333;background-color:#F9F9F9">: MGP finale</span></td>
  </tr>
  <tr>
    <td class="tg-ignm"><span style="color:#333">6</span></td>
    <td class="tg-qbyi"><span style="font-weight:normal;font-style:normal;color:#000">01</span></td>
    <td class="tg-qbyi"><span style="font-weight:normal;font-style:normal;color:#000">02</span></td>
    <td class="tg-qbyi"><span style="color:#333;background-color:#F9F9F9">03</span></td>
    <td class="tg-qbyi"><span style="font-weight:normal;font-style:normal;color:#000">04</span></td>
    <td class="tg-qbyi"><span style="font-weight:normal;font-style:normal;color:#000">05</span></td>
    <td class="tg-kf3v"><span style="font-weight:bold;font-style:normal;color:#000">06</span></td>
    <td class="tg-qbyi"><span style="font-weight:normal;font-style:normal;color:#000">07</span></td>
    <td class="tg-y4s5"><span style="color:#000">19</span></td>
    <td class="tg-k5uv"><span style="font-style:normal">01</span></td>
    <td class="tg-k5uv"><span style="font-style:normal">02</span></td>
    <td class="tg-k5uv"><span style="color:#000;background-color:#F9F9F9">03</span></td>
    <td class="tg-qvkr"><span style="font-style:normal">04</span></td>
    <td class="tg-k5uv"><span style="font-style:normal">05</span></td>
    <td class="tg-k5uv"><span style="font-style:normal">06</span></td>
    <td class="tg-k5uv"><span style="font-style:normal">07</span></td>
    <td class="tg-xavr">2021-12-07: Palmesøndag</td>
  </tr>
  <tr>
    <td class="tg-kps5"><span style="color:#333">7</span></td>
    <td class="tg-k6ck"><span style="font-weight:normal;font-style:normal;color:#000">01</span></td>
    <td class="tg-k6ck"><span style="font-weight:normal;font-style:normal;color:#000">02</span></td>
    <td class="tg-k6ck"><span style="font-weight:normal;font-style:normal;color:#000">03</span></td>
    <td class="tg-k6ck"><span style="font-weight:normal;font-style:normal;color:#000">04</span></td>
    <td class="tg-k6ck"><span style="font-weight:normal;font-style:normal;color:#000">05</span></td>
    <td class="tg-v5pn"><span style="font-weight:bold;font-style:normal;color:#000">06</span></td>
    <td class="tg-k6ck"><span style="font-weight:normal;font-style:normal;color:#000">07</span></td>
    <td class="tg-wqgo"><span style="color:#000">20</span></td>
    <td class="tg-f791"><span style="font-style:normal">01</span></td>
    <td class="tg-w4w7"><span style="font-style:normal">02</span></td>
    <td class="tg-w4w7"><span style="font-style:normal">03</span></td>
    <td class="tg-w4w7"><span style="font-style:normal">04</span></td>
    <td class="tg-w4w7"><span style="font-style:normal">05</span></td>
    <td class="tg-w4w7"><span style="font-style:normal">06</span></td>
    <td class="tg-rizn"><span style="font-style:normal">07</span></td>
    <td class="tg-v1r8"><span style="font-weight:normal">2021-13-04: Skjærtorsdag</span></td>
  </tr>
  <tr>
    <td class="tg-ignm"><span style="color:#333">8</span></td>
    <td class="tg-qbyi"><span style="font-weight:normal;font-style:normal;color:#000">01</span></td>
    <td class="tg-qbyi"><span style="font-weight:normal;font-style:normal;color:#000">02</span></td>
    <td class="tg-qbyi"><span style="font-weight:normal;font-style:normal;color:#000">03</span></td>
    <td class="tg-qbyi"><span style="font-weight:normal;font-style:normal;color:#000">04</span></td>
    <td class="tg-qbyi"><span style="font-weight:normal;font-style:normal;color:#000">05</span></td>
    <td class="tg-qbyi"><span style="font-weight:normal;font-style:normal;color:#000">06</span></td>
    <td class="tg-qbyi"><span style="font-weight:normal;font-style:normal;color:#000">07</span></td>
    <td class="tg-y4s5"><span style="color:#000">21</span></td>
    <td class="tg-qvkr"><span style="font-style:normal">01</span></td>
    <td class="tg-h7go"><span style="font-style:normal">02</span></td>
    <td class="tg-k5uv"><span style="font-style:normal">03</span></td>
    <td class="tg-h7go"><span style="font-style:normal">04</span></td>
    <td class="tg-k5uv"><span style="font-style:normal">05</span></td>
    <td class="tg-h7go"><span style="font-style:normal">06</span></td>
    <td class="tg-94th"><span style="font-style:normal">07</span></td>
    <td class="tg-xavr"><span style="font-weight:normal;text-decoration:none">2021-13-05: Langfredag</span></td>
  </tr>
  <tr>
    <td class="tg-kps5"><span style="color:#333">9</span></td>
    <td class="tg-k6ck"><span style="font-weight:normal;font-style:normal;color:#000">01</span></td>
    <td class="tg-k6ck"><span style="font-weight:normal;font-style:normal;color:#000">02</span></td>
    <td class="tg-k6ck"><span style="font-weight:normal;font-style:normal;color:#000">03</span></td>
    <td class="tg-k6ck"><span style="font-weight:normal;font-style:normal;color:#000">04</span></td>
    <td class="tg-k6ck"><span style="font-weight:normal;font-style:normal;color:#000">05</span></td>
    <td class="tg-k6ck"><span style="font-weight:normal;font-style:normal;color:#000">06</span></td>
    <td class="tg-k6ck"><span style="font-weight:normal;font-style:normal;color:#000">07</span></td>
    <td class="tg-wqgo"><span style="color:#000">22</span></td>
    <td class="tg-b5o5"><span style="font-style:normal">01</span></td>
    <td class="tg-w4w7"><span style="font-style:normal">02</span></td>
    <td class="tg-w4w7"><span style="font-style:normal">03</span></td>
    <td class="tg-w4w7"><span style="font-style:normal">04</span></td>
    <td class="tg-w4w7"><span style="font-style:normal">05</span></td>
    <td class="tg-w4w7"><span style="font-style:normal">06</span></td>
    <td class="tg-w4w7"><span style="font-style:normal">07</span></td>
    <td class="tg-j37l"><span style="font-weight:normal;text-decoration:none">2021-13-06: Påskeaften</span></td>
  </tr>
  <tr>
    <td class="tg-ignm"><span style="color:#333">10</span></td>
    <td class="tg-qbyi"><span style="font-weight:normal;font-style:normal;color:#000">01</span></td>
    <td class="tg-qbyi"><span style="font-weight:normal;font-style:normal;color:#000">02</span></td>
    <td class="tg-qbyi"><span style="font-weight:normal;font-style:normal;color:#000">03</span></td>
    <td class="tg-qbyi"><span style="font-weight:normal;font-style:normal;color:#000">04</span></td>
    <td class="tg-qbyi"><span style="font-weight:normal;font-style:normal;color:#000">05</span></td>
    <td class="tg-qbyi"><span style="font-weight:normal;font-style:normal;color:#000">06</span></td>
    <td class="tg-qbyi"><span style="font-weight:normal;font-style:normal;color:#000">07</span></td>
    <td class="tg-y4s5"><span style="color:#000">23</span></td>
    <td class="tg-k5uv"><span style="font-style:normal">01</span></td>
    <td class="tg-k5uv"><span style="font-style:normal">02</span></td>
    <td class="tg-k5uv"><span style="font-style:normal">03</span></td>
    <td class="tg-k5uv"><span style="font-style:normal">04</span></td>
    <td class="tg-k5uv"><span style="font-style:normal">05</span></td>
    <td class="tg-k5uv"><span style="font-style:normal">06</span></td>
    <td class="tg-k5uv"><span style="font-style:normal">07</span></td>
    <td class="tg-xavr"><span style="font-weight:normal;text-decoration:none">2021-13-07: 1. påskedag</span></td>
  </tr>
  <tr>
    <td class="tg-kps5"><span style="color:#333">11</span></td>
    <td class="tg-k6ck"><span style="font-weight:normal;font-style:normal;color:#000">01</span></td>
    <td class="tg-k6ck"><span style="font-weight:normal;font-style:normal;color:#000">02</span></td>
    <td class="tg-k6ck"><span style="font-weight:normal;font-style:normal;color:#000">03</span></td>
    <td class="tg-k6ck"><span style="font-weight:normal;font-style:normal;color:#000">04</span></td>
    <td class="tg-k6ck"><span style="font-weight:normal;font-style:normal;color:#000">05</span></td>
    <td class="tg-k6ck"><span style="font-weight:normal;font-style:normal;color:#000">06</span></td>
    <td class="tg-k6ck"><span style="font-weight:normal;font-style:normal;color:#000">07</span></td>
    <td class="tg-wqgo"><span style="color:#000">24</span></td>
    <td class="tg-w4w7"><span style="font-style:normal">01</span></td>
    <td class="tg-w4w7"><span style="font-style:normal">02</span></td>
    <td class="tg-w4w7"><span style="font-style:normal">03</span></td>
    <td class="tg-w4w7"><span style="font-style:normal">04</span></td>
    <td class="tg-w4w7"><span style="font-style:normal">05</span></td>
    <td class="tg-w4w7"><span style="font-style:normal">06</span></td>
    <td class="tg-w4w7"><span style="font-style:normal">07</span></td>
    <td class="tg-v1r8">2021-14-01<span style="color:#FE0000;background-color:#FFF">: 2. påskedag</span></td>
  </tr>
  <tr>
    <td class="tg-ignm"><span style="color:#333">12</span></td>
    <td class="tg-qbyi"><span style="font-weight:normal;font-style:normal;color:#000">01</span></td>
    <td class="tg-qbyi"><span style="font-weight:normal;font-style:normal;color:#000">02</span></td>
    <td class="tg-qbyi"><span style="font-weight:normal;font-style:normal;color:#000">03</span></td>
    <td class="tg-qbyi"><span style="font-weight:normal;font-style:normal;color:#000">04</span></td>
    <td class="tg-qbyi"><span style="font-weight:normal;font-style:normal;color:#000">05</span></td>
    <td class="tg-qbyi"><span style="font-weight:normal;font-style:normal;color:#000">06</span></td>
    <td class="tg-qvkr"><span style="font-weight:bold">07</span></td>
    <td class="tg-y4s5"><span style="color:#000">25</span></td>
    <td class="tg-k5uv"><span style="font-style:normal">01</span></td>
    <td class="tg-k5uv"><span style="font-style:normal">02</span></td>
    <td class="tg-k5uv"><span style="font-style:normal">03</span></td>
    <td class="tg-k5uv"><span style="font-style:normal">04</span></td>
    <td class="tg-k5uv"><span style="font-style:normal">05</span></td>
    <td class="tg-k5uv"><span style="font-style:normal">06</span></td>
    <td class="tg-k5uv"><span style="color:#000;background-color:#F9F9F9">07</span></td>
    <td class="tg-wlit">2021-17-06<span style="background-color:#F9F9F9">: 1. mai</span></td>
  </tr>
  <tr>
    <td class="tg-kps5"><span style="color:#333">13</span></td>
    <td class="tg-k6ck"><span style="font-weight:normal;font-style:normal;color:#000">01</span></td>
    <td class="tg-k6ck"><span style="font-weight:normal;font-style:normal;color:#000">02</span></td>
    <td class="tg-k6ck"><span style="font-weight:normal;font-style:normal;color:#000">03</span></td>
    <td class="tg-f791"><span style="font-weight:bold;color:#FE0000;background-color:#FFF">04</span></td>
    <td class="tg-f791"><span style="font-weight:bold;color:#FE0000;background-color:#FFF">05</span></td>
    <td class="tg-v5pn"><span style="font-weight:bold;color:#333;background-color:#FFF">06</span></td>
    <td class="tg-f791"><span style="font-weight:bold;color:#FE0000;background-color:#FFF">07</span></td>
    <td class="tg-wqgo"><span style="color:#000">26</span></td>
    <td class="tg-w4w7"><span style="font-style:normal">01</span></td>
    <td class="tg-w4w7"><span style="font-style:normal">02</span></td>
    <td class="tg-w4w7"><span style="font-style:normal">03</span></td>
    <td class="tg-w4w7"><span style="color:#000;background-color:#FFF">04</span></td>
    <td class="tg-w4w7"><span style="color:#000;background-color:#FFF">05</span></td>
    <td class="tg-w4w7"><span style="color:#000;background-color:#FFF">06</span></td>
    <td class="tg-w4w7"><span style="color:#000;background-color:#FFF">07</span></td>
    <td class="tg-v1r8">2021-19-04<span style="color:#FE0000;background-color:#FFF">: Kristi Himmelfartsdag</span></td>
  </tr>
  <tr>
    <td class="tg-nhhn" colspan="8"><span style="font-weight:bold;font-style:normal;text-decoration:none">Ferie og seinsommer</span></td>
    <td class="tg-w9iw" colspan="8"><span style="font-weight:bold">Høst og jul</span></td>
    <td class="tg-04ae"><span style="color:#FE0000;background-color:#F9F9F9">2021-20-01: Norges grunnlovsdag</span></td>
  </tr>
  <tr>
    <td class="tg-upu9" colspan="8"><span style="font-weight:normal;font-style:italic;text-decoration:none">Tilsvarer juli, august, september</span></td>
    <td class="tg-upu9" colspan="8">Tilsvarer oktober, november, desember</td>
    <td class="tg-v1r8">2021-20-02<span style="color:#000;background-color:#FFF">: ESC delfinale 1</span></td>
  </tr>
  <tr>
    <td class="tg-g53r">U</td>
    <td class="tg-kf3v"><span style="font-weight:bold;color:#333;background-color:#F9F9F9">M</span></td>
    <td class="tg-kf3v"><span style="font-weight:bold;color:#333;background-color:#F9F9F9">T</span></td>
    <td class="tg-kf3v"><span style="font-weight:bold;color:#333;background-color:#F9F9F9">O</span></td>
    <td class="tg-kf3v"><span style="font-weight:bold;color:#333;background-color:#F9F9F9">T</span></td>
    <td class="tg-kf3v"><span style="font-weight:bold;color:#333;background-color:#F9F9F9">F</span></td>
    <td class="tg-kf3v"><span style="font-weight:bold;color:#333;background-color:#F9F9F9">L</span></td>
    <td class="tg-kf3v"><span style="font-weight:bold;color:#333;background-color:#F9F9F9">S</span></td>
    <td class="tg-hk9g">U</td>
    <td class="tg-h7go"><span style="font-weight:bold;color:#000;background-color:#F9F9F9">M</span></td>
    <td class="tg-h7go"><span style="font-weight:bold;color:#000;background-color:#F9F9F9">T</span></td>
    <td class="tg-h7go"><span style="font-weight:bold;color:#000;background-color:#F9F9F9">O</span></td>
    <td class="tg-h7go"><span style="font-weight:bold;color:#000;background-color:#F9F9F9">T</span></td>
    <td class="tg-h7go"><span style="font-weight:bold;color:#000;background-color:#F9F9F9">F</span></td>
    <td class="tg-h7go"><span style="font-weight:bold;color:#000;background-color:#F9F9F9">L</span></td>
    <td class="tg-h7go"><span style="font-weight:bold;color:#000;background-color:#F9F9F9">S</span></td>
    <td class="tg-k5uv">2021-20-04<span style="color:#000;background-color:#F9F9F9">: ESC delfinale 2</span></td>
  </tr>
  <tr>
    <td class="tg-76xw">27</td>
    <td class="tg-rizn"><span style="font-style:normal">01</span></td>
    <td class="tg-rizn"><span style="font-style:normal">02</span></td>
    <td class="tg-rizn"><span style="font-style:normal">03</span></td>
    <td class="tg-rizn"><span style="font-style:normal">04</span></td>
    <td class="tg-rizn"><span style="font-style:normal">05</span></td>
    <td class="tg-rizn"><span style="font-style:normal">06</span></td>
    <td class="tg-rizn"><span style="font-style:normal">07</span></td>
    <td class="tg-76xw">40</td>
    <td class="tg-rizn"><span style="font-style:normal">01</span></td>
    <td class="tg-rizn"><span style="font-style:normal">02</span></td>
    <td class="tg-rizn"><span style="font-style:normal">03</span></td>
    <td class="tg-rizn"><span style="font-style:normal">04</span></td>
    <td class="tg-rizn"><span style="font-style:normal">05</span></td>
    <td class="tg-rizn"><span style="font-style:normal">06</span></td>
    <td class="tg-rizn"><span style="font-style:normal">07</span></td>
    <td class="tg-w4w7">2021-20-06<span style="color:#000;background-color:#FFF">: ESC finale</span></td>
  </tr>
  <tr>
    <td class="tg-ovcf">28</td>
    <td class="tg-wlit"><span style="font-style:normal">01</span></td>
    <td class="tg-wlit"><span style="font-style:normal">02</span></td>
    <td class="tg-wlit"><span style="font-style:normal">03</span></td>
    <td class="tg-wlit"><span style="font-style:normal">04</span></td>
    <td class="tg-wlit"><span style="font-style:normal">05</span></td>
    <td class="tg-wlit"><span style="font-style:normal">06</span></td>
    <td class="tg-wlit"><span style="font-style:normal">07</span></td>
    <td class="tg-ovcf">41</td>
    <td class="tg-wlit"><span style="font-style:normal">01</span></td>
    <td class="tg-wlit"><span style="font-style:normal">02</span></td>
    <td class="tg-wlit"><span style="font-style:normal">03</span></td>
    <td class="tg-wlit"><span style="font-style:normal">04</span></td>
    <td class="tg-wlit"><span style="font-style:normal">05</span></td>
    <td class="tg-wlit"><span style="font-style:normal">06</span></td>
    <td class="tg-wlit"><span style="font-style:normal">07</span></td>
    <td class="tg-xavr">2021-20-07<span style="color:#FE0000;background-color:#FFF">: 1. pinsedag</span></td>
  </tr>
  <tr>
    <td class="tg-76xw">29</td>
    <td class="tg-rizn"><span style="font-style:normal">01</span></td>
    <td class="tg-rizn"><span style="font-style:normal">02</span></td>
    <td class="tg-rizn"><span style="font-style:normal">03</span></td>
    <td class="tg-rizn"><span style="font-style:normal">04</span></td>
    <td class="tg-rizn"><span style="font-style:normal">05</span></td>
    <td class="tg-rizn"><span style="font-style:normal">06</span></td>
    <td class="tg-rizn"><span style="font-style:normal">07</span></td>
    <td class="tg-76xw">42</td>
    <td class="tg-rizn"><span style="font-style:normal">01</span></td>
    <td class="tg-rizn"><span style="font-style:normal">02</span></td>
    <td class="tg-rizn"><span style="font-style:normal">03</span></td>
    <td class="tg-rizn"><span style="font-style:normal">04</span></td>
    <td class="tg-rizn"><span style="font-style:normal">05</span></td>
    <td class="tg-rizn"><span style="font-style:normal">06</span></td>
    <td class="tg-rizn"><span style="font-style:normal">07</span></td>
    <td class="tg-v1r8">2021-21-01<span style="color:#FE0000;background-color:#FFF">: 2. pinsedag</span></td>
  </tr>
  <tr>
    <td class="tg-ovcf">30</td>
    <td class="tg-wlit"><span style="font-style:normal">01</span></td>
    <td class="tg-wlit"><span style="font-style:normal">02</span></td>
    <td class="tg-wlit"><span style="font-style:normal">03</span></td>
    <td class="tg-wlit"><span style="font-style:normal">04</span></td>
    <td class="tg-wlit"><span style="font-style:normal">05</span></td>
    <td class="tg-wlit"><span style="font-style:normal">06</span></td>
    <td class="tg-wlit"><span style="font-style:normal">07</span></td>
    <td class="tg-ovcf">43</td>
    <td class="tg-wlit"><span style="font-style:normal">01</span></td>
    <td class="tg-wlit"><span style="font-style:normal">02</span></td>
    <td class="tg-wlit"><span style="font-style:normal">03</span></td>
    <td class="tg-wlit"><span style="font-style:normal">04</span></td>
    <td class="tg-wlit"><span style="font-style:normal">05</span></td>
    <td class="tg-wlit"><span style="font-style:normal">06</span></td>
    <td class="tg-wlit"><span style="font-style:normal">07</span></td>
    <td class="tg-ts46">2021-35-7: Sporveismuseets dag</td>
  </tr>
  <tr>
    <td class="tg-76xw">31</td>
    <td class="tg-rizn"><span style="font-style:normal">01</span></td>
    <td class="tg-rizn"><span style="font-style:normal">02</span></td>
    <td class="tg-rizn"><span style="font-style:normal">03</span></td>
    <td class="tg-rizn"><span style="font-style:normal">04</span></td>
    <td class="tg-rizn"><span style="font-style:normal">05</span></td>
    <td class="tg-rizn"><span style="font-style:normal">06</span></td>
    <td class="tg-rizn"><span style="font-style:normal">07</span></td>
    <td class="tg-76xw">44</td>
    <td class="tg-rizn"><span style="font-style:normal">01</span></td>
    <td class="tg-rizn"><span style="font-style:normal">02</span></td>
    <td class="tg-rizn"><span style="font-style:normal">03</span></td>
    <td class="tg-rizn"><span style="font-style:normal">04</span></td>
    <td class="tg-rizn"><span style="font-style:normal">05</span></td>
    <td class="tg-rizn"><span style="font-style:normal">06</span></td>
    <td class="tg-rizn"><span style="font-style:normal">07</span></td>
    <td class="tg-1zis">2021-36-7: Stortingsvalg</td>
  </tr>
  <tr>
    <td class="tg-ovcf">32</td>
    <td class="tg-wlit"><span style="font-style:normal">01</span></td>
    <td class="tg-wlit"><span style="font-style:normal">02</span></td>
    <td class="tg-wlit"><span style="background-color:#F9F9F9">03</span></td>
    <td class="tg-wlit"><span style="font-style:normal">04</span></td>
    <td class="tg-wlit"><span style="font-style:normal">05</span></td>
    <td class="tg-wlit"><span style="font-style:normal">06</span></td>
    <td class="tg-wlit"><span style="font-style:normal">07</span></td>
    <td class="tg-ovcf">45</td>
    <td class="tg-wlit"><span style="font-style:normal">01</span></td>
    <td class="tg-wlit"><span style="font-style:normal">02</span></td>
    <td class="tg-wlit"><span style="background-color:#F9F9F9">03</span></td>
    <td class="tg-wlit"><span style="font-style:normal">04</span></td>
    <td class="tg-wlit"><span style="font-style:normal">05</span></td>
    <td class="tg-wlit"><span style="font-style:normal">06</span></td>
    <td class="tg-wlit"><span style="font-style:normal">07</span></td>
    <td class="tg-0i1h"><span style="font-weight:normal;text-decoration:none">2021-37-1: Stortingsvalg</span></td>
  </tr>
  <tr>
    <td class="tg-76xw">33</td>
    <td class="tg-rizn"><span style="font-style:normal">01</span></td>
    <td class="tg-rizn"><span style="font-style:normal">02</span></td>
    <td class="tg-rizn"><span style="font-style:normal">03</span></td>
    <td class="tg-rizn"><span style="font-style:normal">04</span></td>
    <td class="tg-rizn"><span style="font-style:normal">05</span></td>
    <td class="tg-rizn"><span style="font-style:normal">06</span></td>
    <td class="tg-rizn"><span style="font-style:normal">07</span></td>
    <td class="tg-76xw">46</td>
    <td class="tg-rizn"><span style="font-style:normal">01</span></td>
    <td class="tg-rizn"><span style="font-style:normal">02</span></td>
    <td class="tg-rizn"><span style="font-style:normal">03</span></td>
    <td class="tg-rizn"><span style="font-style:normal">04</span></td>
    <td class="tg-rizn"><span style="font-style:normal">05</span></td>
    <td class="tg-rizn"><span style="font-style:normal">06</span></td>
    <td class="tg-bohg"><span style="font-style:normal">07</span></td>
    <td class="tg-1zis"><span style="font-weight:normal;text-decoration:none">2021-37-5: Oslo kulturnatt</span></td>
  </tr>
  <tr>
    <td class="tg-ovcf">34</td>
    <td class="tg-wlit"><span style="font-style:normal">01</span></td>
    <td class="tg-wlit"><span style="font-style:normal">02</span></td>
    <td class="tg-wlit"><span style="font-style:normal">03</span></td>
    <td class="tg-wlit"><span style="font-style:normal">04</span></td>
    <td class="tg-wlit"><span style="font-style:normal">05</span></td>
    <td class="tg-wlit"><span style="font-style:normal">06</span></td>
    <td class="tg-wlit"><span style="font-style:normal">07</span></td>
    <td class="tg-ovcf">47</td>
    <td class="tg-wlit"><span style="font-style:normal">01</span></td>
    <td class="tg-wlit"><span style="font-style:normal">02</span></td>
    <td class="tg-wlit"><span style="font-style:normal">03</span></td>
    <td class="tg-wlit"><span style="font-style:normal">04</span></td>
    <td class="tg-wlit"><span style="font-style:normal">05</span></td>
    <td class="tg-wlit"><span style="font-style:normal">06</span></td>
    <td class="tg-wlit"><span style="font-style:normal">07</span></td>
    <td class="tg-0i1h">2021-51-5: Julaften</td>
  </tr>
  <tr>
    <td class="tg-76xw">35</td>
    <td class="tg-rizn"><span style="font-style:normal">01</span></td>
    <td class="tg-rizn"><span style="font-style:normal">02</span></td>
    <td class="tg-rizn"><span style="font-style:normal">03</span></td>
    <td class="tg-rizn"><span style="font-style:normal">04</span></td>
    <td class="tg-rizn"><span style="font-style:normal">05</span></td>
    <td class="tg-rizn"><span style="font-style:normal">06</span></td>
    <td class="tg-bohg"><span style="font-style:normal">07</span></td>
    <td class="tg-76xw">48</td>
    <td class="tg-rizn"><span style="font-style:normal">01</span></td>
    <td class="tg-rizn"><span style="font-style:normal">02</span></td>
    <td class="tg-rizn"><span style="font-style:normal">03</span></td>
    <td class="tg-rizn"><span style="font-style:normal">04</span></td>
    <td class="tg-rizn"><span style="font-style:normal">05</span></td>
    <td class="tg-rizn"><span style="font-style:normal">06</span></td>
    <td class="tg-rizn"><span style="font-style:normal">07</span></td>
    <td class="tg-yjaj">2021-51-6: 1. juledag</td>
  </tr>
  <tr>
    <td class="tg-ovcf">36</td>
    <td class="tg-wlit"><span style="font-style:normal">01</span></td>
    <td class="tg-wlit"><span style="font-style:normal">02</span></td>
    <td class="tg-wlit"><span style="font-style:normal">03</span></td>
    <td class="tg-wlit"><span style="font-style:normal">04</span></td>
    <td class="tg-wlit"><span style="font-style:normal">05</span></td>
    <td class="tg-wlit"><span style="font-style:normal">06</span></td>
    <td class="tg-uecc"><span style="font-style:normal">07</span></td>
    <td class="tg-ovcf">49</td>
    <td class="tg-wlit"><span style="font-style:normal">01</span></td>
    <td class="tg-wlit"><span style="font-style:normal">02</span></td>
    <td class="tg-wlit"><span style="font-style:normal">03</span></td>
    <td class="tg-wlit"><span style="font-style:normal">04</span></td>
    <td class="tg-wlit"><span style="font-style:normal">05</span></td>
    <td class="tg-wlit"><span style="font-style:normal">06</span></td>
    <td class="tg-wlit"><span style="font-style:normal">07</span></td>
    <td class="tg-zz86">2021-51-7: 2. juledag</td>
  </tr>
  <tr>
    <td class="tg-76xw">37</td>
    <td class="tg-bohg"><span style="font-style:normal">01</span></td>
    <td class="tg-rizn"><span style="font-style:normal">02</span></td>
    <td class="tg-rizn"><span style="font-style:normal">03</span></td>
    <td class="tg-rizn"><span style="font-style:normal">04</span></td>
    <td class="tg-bohg">05</td>
    <td class="tg-rizn"><span style="font-style:normal">06</span></td>
    <td class="tg-rizn"><span style="font-style:normal">07</span></td>
    <td class="tg-76xw">50</td>
    <td class="tg-rizn"><span style="font-style:normal">01</span></td>
    <td class="tg-rizn"><span style="font-style:normal">02</span></td>
    <td class="tg-rizn"><span style="font-style:normal">03</span></td>
    <td class="tg-rizn"><span style="font-style:normal">04</span></td>
    <td class="tg-rizn"><span style="font-style:normal">05</span></td>
    <td class="tg-rizn"><span style="font-style:normal">06</span></td>
    <td class="tg-rizn"><span style="font-style:normal">07</span></td>
    <td class="tg-1zis">2021-52-5: Nyttårsaften</td>
  </tr>
  <tr>
    <td class="tg-ovcf">38</td>
    <td class="tg-wlit"><span style="font-style:normal">01</span></td>
    <td class="tg-wlit"><span style="font-style:normal">02</span></td>
    <td class="tg-wlit"><span style="font-style:normal">03</span></td>
    <td class="tg-wlit"><span style="font-style:normal">04</span></td>
    <td class="tg-wlit"><span style="font-style:normal">05</span></td>
    <td class="tg-wlit"><span style="font-style:normal">06</span></td>
    <td class="tg-wlit">07</td>
    <td class="tg-ovcf">51</td>
    <td class="tg-wlit"><span style="font-style:normal">01</span></td>
    <td class="tg-wlit"><span style="font-style:normal">02</span></td>
    <td class="tg-wlit"><span style="font-style:normal">03</span></td>
    <td class="tg-wlit"><span style="font-style:normal">04</span></td>
    <td class="tg-uecc"><span style="font-style:normal">05</span></td>
    <td class="tg-94th"><span style="font-style:normal">06</span></td>
    <td class="tg-94th"><span style="background-color:#F9F9F9">07</span></td>
    <td class="tg-zz86">2021-52-06: 1. nyttårsdag</td>
  </tr>
  <tr>
    <td class="tg-76xw">39</td>
    <td class="tg-rizn"><span style="font-style:normal">01</span></td>
    <td class="tg-rizn"><span style="font-style:normal">02</span></td>
    <td class="tg-rizn"><span style="font-style:normal">03</span></td>
    <td class="tg-rizn"><span style="background-color:#FFF">04</span></td>
    <td class="tg-rizn"><span style="background-color:#FFF">05</span></td>
    <td class="tg-rizn"><span style="background-color:#FFF">06</span></td>
    <td class="tg-rizn"><span style="background-color:#FFF">07</span></td>
    <td class="tg-76xw">52</td>
    <td class="tg-rizn"><span style="font-style:normal">01</span></td>
    <td class="tg-rizn"><span style="font-style:normal">02</span></td>
    <td class="tg-rizn"><span style="font-style:normal">03</span></td>
    <td class="tg-rizn"><span style="background-color:#FFF">04</span></td>
    <td class="tg-bohg"><span style="background-color:#FFF">05</span></td>
    <td class="tg-b5o5"><span style="background-color:#FFF">06</span></td>
    <td class="tg-rizn"><span style="background-color:#FFF">07</span></td>
    <td class="tg-1zis">Godt nytt år :-)</td>
  </tr>
</tbody>
</table></div>