<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  overflow:hidden;padding:10px 5px;word-break:normal;}
.tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tg-j37l{background-color:#F9F9F9;border-color:#000000;color:#212529;text-align:center;vertical-align:top}
.tg .tg-k6ck{background-color:#FFF;border-color:#000000;color:#333;text-align:center;vertical-align:top}
.tg .tg-r660{background-color:#CBCEFB;border-color:#000000;text-align:center;vertical-align:top}
.tg .tg-be60{background-color:#F9F9F9;border-color:#000000;color:#000000;text-align:center;vertical-align:top}
.tg .tg-jwh4{background-color:#F9F9F9;border-color:#000000;color:#fe0000;font-weight:bold;text-align:center;vertical-align:top}
.tg .tg-ivdu{background-color:#F0F0F0;border-color:#000000;color:#333;font-size:26px;font-weight:bold;text-align:center;
  vertical-align:top}
.tg .tg-0jzc{background-color:#FFF;border-color:#000000;font-weight:bold;text-align:center;vertical-align:top}
.tg .tg-37z7{background-color:#9698ED;border-color:#000000;color:#333;font-size:24px;font-weight:bold;text-align:center;
  vertical-align:top}
.tg .tg-7vef{background-color:#F9F9F9;border-color:#000000;color:#FE0000;text-align:center;vertical-align:top}
.tg .tg-0d50{background-color:#9698ED;border-color:#000000;color:#333;font-size:36px;font-weight:bold;text-align:center;
  vertical-align:top}
.tg .tg-vtnc{background-color:#F9F9F9;border-color:#000000;color:#333;font-weight:bold;text-align:center;vertical-align:top}
.tg .tg-6z78{background-color:#CBCEFB;border-color:#000000;color:#333;font-weight:bold;text-align:center;vertical-align:top}
.tg .tg-hs6m{background-color:#EFEFEF;border-color:#000000;color:#333;font-style:italic;text-align:center;vertical-align:top}
.tg .tg-1d3r{background-color:#9698ED;border-color:#000000;color:#333;font-size:24px;font-weight:bold;text-align:center;
  text-decoration:underline;vertical-align:top}
.tg .tg-lbdv{background-color:#EFEFEF;border-color:#000000;color:#333;font-size:26px;font-weight:bold;text-align:center;
  vertical-align:top}
.tg .tg-cxa3{background-color:#CBCEFB;border-color:#000000;color:#333;text-align:center;vertical-align:top}
.tg .tg-rizn{background-color:#FFF;border-color:#000000;color:#000000;text-align:center;vertical-align:top}
.tg .tg-b5o5{background-color:#FFF;border-color:#000000;color:#fe0000;font-weight:bold;text-align:center;vertical-align:top}
.tg .tg-o2tz{background-color:#F9F9F9;border-color:#000000;color:#333;text-align:center;vertical-align:top}
.tg .tg-v5pn{background-color:#FFF;border-color:#000000;color:#333;font-weight:bold;text-align:center;vertical-align:top}
.tg .tg-gmc7{background-color:#F9F9F9;border-color:#000000;color:#000000;font-weight:bold;text-align:center;vertical-align:top}
.tg .tg-v1r8{background-color:#FFF;border-color:#000000;color:#FE0000;text-align:center;vertical-align:top}
.tg .tg-w4w7{background-color:#FFF;border-color:#000000;text-align:center;vertical-align:top}
.tg .tg-k53s{background-color:#F9F9F9;border-color:#000000;color:#FE0000;font-weight:bold;text-align:center;vertical-align:top}
.tg .tg-f791{background-color:#FFF;border-color:#000000;color:#FE0000;font-weight:bold;text-align:center;vertical-align:top}
.tg .tg-p0vg{background-color:#F9F9F9;border-color:#000000;text-align:center;vertical-align:top}
.tg .tg-vhkm{background-color:#F9F9F9;border-color:#000000;color:#330001;font-weight:bold;text-align:center;vertical-align:top}
.tg .tg-qjpv{background-color:#FFF;border-color:#000000;color:#330001;font-weight:bold;text-align:center;vertical-align:top}
.tg .tg-6e82{background-color:#FFF;border-color:#000000;color:#330001;text-align:center;vertical-align:top}
@media screen and (max-width: 767px) {.tg {width: auto !important;}.tg col {width: auto !important;}.tg-wrap {overflow-x: auto;-webkit-overflow-scrolling: touch;}}</style>
<div class="tg-wrap"><table class="tg">
<tbody>
  <tr>
    <td class="tg-1d3r" colspan="8"><a href="../2021">2021</a></td>
    <td class="tg-0d50" colspan="8">2022</td>
    <td class="tg-37z7"><span style="font-weight:bold;font-style:normal;text-decoration:underline">2023</span></td>
  </tr>
  <tr>
    <td class="tg-ivdu" colspan="8"><span style="font-weight:bold;color:#333;background-color:#F0F0F0">Nyår og vinter</span></td>
    <td class="tg-ivdu" colspan="8"><span style="font-weight:bold;color:#333;background-color:#F0F0F0">Vår og forsommer</span></td>
    <td class="tg-lbdv"><span style="font-weight:bold;color:#333;background-color:#EFEFEF">Merkedager</span></td>
  </tr>
  <tr>
    <td class="tg-hs6m" colspan="8"><span style="font-weight:normal;font-style:italic;text-decoration:none">Tilsvarer januar, februar, mars</span></td>
    <td class="tg-hs6m" colspan="8"><span style="font-weight:normal;font-style:italic;text-decoration:none">Tilsvarer april, mai, juni</span></td>
    <td class="tg-hs6m"><span style="font-style:italic;color:#333;background-color:#EFEFEF">Fridager og merkedager</span></td>
  </tr>
  <tr>
    <td class="tg-6z78"><span style="font-weight:bold;color:#333;background-color:#CBCEFB">U</span></td>
    <td class="tg-vtnc"><span style="font-weight:bold;color:#333;background-color:#F9F9F9">M</span></td>
    <td class="tg-vtnc"><span style="font-weight:bold;color:#333;background-color:#F9F9F9">T</span></td>
    <td class="tg-vtnc"><span style="font-weight:bold;color:#333;background-color:#F9F9F9">O</span></td>
    <td class="tg-vtnc"><span style="font-weight:bold;color:#333;background-color:#F9F9F9">T</span></td>
    <td class="tg-vtnc"><span style="font-weight:bold;color:#333;background-color:#F9F9F9">F</span></td>
    <td class="tg-vtnc"><span style="font-weight:bold;color:#333;background-color:#F9F9F9">L</span></td>
    <td class="tg-vtnc"><span style="font-weight:bold;color:#333;background-color:#F9F9F9">S</span></td>
    <td class="tg-6z78"><span style="font-weight:bold;color:#333;background-color:#CBCEFB">U</span></td>
    <td class="tg-vtnc"><span style="font-weight:bold;color:#000;background-color:#F9F9F9">M</span></td>
    <td class="tg-vtnc"><span style="font-weight:bold;color:#000;background-color:#F9F9F9">T</span></td>
    <td class="tg-vtnc"><span style="font-weight:bold;color:#000;background-color:#F9F9F9">O</span></td>
    <td class="tg-vtnc"><span style="font-weight:bold;color:#000;background-color:#F9F9F9">T</span></td>
    <td class="tg-vtnc"><span style="font-weight:bold;color:#000;background-color:#F9F9F9">F</span></td>
    <td class="tg-vtnc"><span style="font-weight:bold;color:#000;background-color:#F9F9F9">L</span></td>
    <td class="tg-vtnc"><span style="font-weight:bold;color:#000;background-color:#F9F9F9">S</span></td>
    <td class="tg-k6ck"><span style="color:#333;background-color:#FFF">2021-02-06: MGP delfinale 1</span></td>
  </tr>
  <tr>
    <td class="tg-cxa3"><span style="color:#333">1</span></td>
    <td class="tg-k6ck"><span style="font-style:normal;color:#000">01</span></td>
    <td class="tg-k6ck"><span style="font-style:normal;color:#000">02</span></td>
    <td class="tg-k6ck"><span style="font-style:normal;color:#000">03</span></td>
    <td class="tg-k6ck"><span style="font-style:normal;color:#000">04</span></td>
    <td class="tg-k6ck"><span style="font-style:normal;color:#000">05</span></td>
    <td class="tg-k6ck"><span style="font-style:normal;color:#000">06</span></td>
    <td class="tg-k6ck"><span style="font-style:normal;color:#000">07</span></td>
    <td class="tg-cxa3"><span style="color:#000">14</span></td>
    <td class="tg-rizn"><span style="font-style:normal">01</span></td>
    <td class="tg-k6ck"><span style="font-style:normal">02</span></td>
    <td class="tg-k6ck"><span style="font-style:normal">03</span></td>
    <td class="tg-k6ck"><span style="font-style:normal">04</span></td>
    <td class="tg-k6ck"><span style="font-style:normal">05</span></td>
    <td class="tg-k6ck"><span style="font-style:normal">06</span></td>
    <td class="tg-b5o5"><span style="font-style:normal">07</span></td>
    <td class="tg-o2tz"><span style="color:#333;background-color:#F9F9F9">2021-03-06: MGP delfinale 2</span></td>
  </tr>
  <tr>
    <td class="tg-cxa3"><span style="color:#333">2</span></td>
    <td class="tg-o2tz"><span style="font-style:normal;color:#000">01</span></td>
    <td class="tg-o2tz"><span style="font-style:normal;color:#000">02</span></td>
    <td class="tg-o2tz"><span style="font-style:normal;color:#000">03</span></td>
    <td class="tg-o2tz"><span style="font-style:normal;color:#000">04</span></td>
    <td class="tg-o2tz"><span style="font-style:normal;color:#000">05</span></td>
    <td class="tg-vtnc"><span style="font-style:normal;color:#000">06</span></td>
    <td class="tg-o2tz"><span style="font-style:normal;color:#000">07</span></td>
    <td class="tg-cxa3"><span style="color:#000">15</span></td>
    <td class="tg-o2tz"><span style="font-style:normal">01</span></td>
    <td class="tg-o2tz"><span style="font-style:normal">02</span></td>
    <td class="tg-o2tz"><span style="font-style:normal">03</span></td>
    <td class="tg-jwh4"><span style="font-style:normal">04</span></td>
    <td class="tg-jwh4"><span style="font-style:normal">05</span></td>
    <td class="tg-vtnc"><span style="font-style:normal">06</span></td>
    <td class="tg-jwh4"><span style="font-style:normal">07</span></td>
    <td class="tg-k6ck"><span style="color:#333;background-color:#FFF">2021-04-06: MGP delfinale 3</span></td>
  </tr>
  <tr>
    <td class="tg-cxa3"><span style="color:#333">3</span></td>
    <td class="tg-k6ck"><span style="font-style:normal;color:#000">01</span></td>
    <td class="tg-k6ck"><span style="font-style:normal;color:#000">02</span></td>
    <td class="tg-k6ck"><span style="font-style:normal;color:#000">03</span></td>
    <td class="tg-k6ck"><span style="font-style:normal;color:#000">04</span></td>
    <td class="tg-k6ck"><span style="font-style:normal;color:#000">05</span></td>
    <td class="tg-v5pn"><span style="font-style:normal;color:#000">06</span></td>
    <td class="tg-k6ck"><span style="font-style:normal;color:#000">07</span></td>
    <td class="tg-cxa3"><span style="color:#000">16</span></td>
    <td class="tg-b5o5"><span style="font-style:normal">01</span></td>
    <td class="tg-k6ck"><span style="font-style:normal">02</span></td>
    <td class="tg-k6ck"><span style="font-style:normal">03</span></td>
    <td class="tg-k6ck"><span style="font-style:normal">04</span></td>
    <td class="tg-k6ck"><span style="font-style:normal">05</span></td>
    <td class="tg-k6ck"><span style="font-style:normal">06</span></td>
    <td class="tg-k6ck"><span style="font-style:normal">07</span></td>
    <td class="tg-o2tz"><span style="color:#333;background-color:#F9F9F9">2021-05-06: MGP delfinale 4</span></td>
  </tr>
  <tr>
    <td class="tg-cxa3"><span style="color:#333">4</span></td>
    <td class="tg-o2tz"><span style="font-style:normal;color:#000">01</span></td>
    <td class="tg-o2tz"><span style="font-style:normal;color:#000">02</span></td>
    <td class="tg-o2tz"><span style="font-style:normal;color:#000">03</span></td>
    <td class="tg-o2tz"><span style="font-style:normal;color:#000">04</span></td>
    <td class="tg-o2tz"><span style="font-style:normal;color:#000">05</span></td>
    <td class="tg-vtnc"><span style="font-style:normal;color:#000">06</span></td>
    <td class="tg-o2tz"><span style="font-style:normal;color:#000">07</span></td>
    <td class="tg-cxa3"><span style="color:#000">17</span></td>
    <td class="tg-o2tz"><span style="font-style:normal">01</span></td>
    <td class="tg-o2tz"><span style="font-style:normal">02</span></td>
    <td class="tg-o2tz"><span style="font-style:normal">03</span></td>
    <td class="tg-o2tz"><span style="font-style:normal">04</span></td>
    <td class="tg-o2tz"><span style="font-style:normal">05</span></td>
    <td class="tg-o2tz"><span style="font-style:normal">06</span></td>
    <td class="tg-vtnc"><span style="font-style:normal">07</span></td>
    <td class="tg-k6ck"><span style="color:#333;background-color:#FFF">2021-06-06: MGP sistesjansen</span></td>
  </tr>
  <tr>
    <td class="tg-cxa3"><span style="color:#333">5</span></td>
    <td class="tg-k6ck"><span style="font-style:normal;color:#000">01</span></td>
    <td class="tg-k6ck"><span style="font-style:normal;color:#000">02</span></td>
    <td class="tg-k6ck"><span style="font-style:normal;color:#000">03</span></td>
    <td class="tg-k6ck"><span style="font-style:normal;color:#000">04</span></td>
    <td class="tg-k6ck"><span style="font-style:normal;color:#000">05</span></td>
    <td class="tg-v5pn"><span style="font-style:normal;color:#000">06</span></td>
    <td class="tg-k6ck"><span style="font-style:normal;color:#000">07</span></td>
    <td class="tg-cxa3"><span style="color:#000">18</span></td>
    <td class="tg-k6ck"><span style="font-style:normal">01</span></td>
    <td class="tg-k6ck"><span style="font-style:normal">02</span></td>
    <td class="tg-k6ck"><span style="font-style:normal">03</span></td>
    <td class="tg-k6ck"><span style="font-style:normal">04</span></td>
    <td class="tg-k6ck"><span style="font-style:normal">05</span></td>
    <td class="tg-k6ck"><span style="font-style:normal">06</span></td>
    <td class="tg-k6ck"><span style="font-style:normal">07</span></td>
    <td class="tg-o2tz"><span style="color:#333;background-color:#F9F9F9">2021-07-06: MGP finale</span></td>
  </tr>
  <tr>
    <td class="tg-cxa3"><span style="color:#333">6</span></td>
    <td class="tg-o2tz"><span style="font-style:normal;color:#000">01</span></td>
    <td class="tg-o2tz"><span style="font-style:normal;color:#000">02</span></td>
    <td class="tg-o2tz"><span style="color:#333;background-color:#F9F9F9">03</span></td>
    <td class="tg-o2tz"><span style="font-style:normal;color:#000">04</span></td>
    <td class="tg-o2tz"><span style="font-style:normal;color:#000">05</span></td>
    <td class="tg-vtnc"><span style="font-style:normal;color:#000">06</span></td>
    <td class="tg-o2tz"><span style="font-style:normal;color:#000">07</span></td>
    <td class="tg-cxa3"><span style="color:#000">19</span></td>
    <td class="tg-o2tz"><span style="font-style:normal">01</span></td>
    <td class="tg-vtnc"><span style="font-style:normal">02</span></td>
    <td class="tg-o2tz"><span style="color:#000;background-color:#F9F9F9">03</span></td>
    <td class="tg-gmc7"><span style="font-style:normal">04</span></td>
    <td class="tg-o2tz"><span style="font-style:normal">05</span></td>
    <td class="tg-vtnc"><span style="font-style:normal">06</span></td>
    <td class="tg-o2tz"><span style="font-style:normal">07</span></td>
    <td class="tg-v1r8"><span style="color:#FE0000;background-color:#FFF">2021-14-07: Palmesøndag</span></td>
  </tr>
  <tr>
    <td class="tg-cxa3"><span style="color:#333">7</span></td>
    <td class="tg-k6ck"><span style="font-style:normal;color:#000">01</span></td>
    <td class="tg-k6ck"><span style="font-style:normal;color:#000">02</span></td>
    <td class="tg-k6ck"><span style="font-style:normal;color:#000">03</span></td>
    <td class="tg-k6ck"><span style="font-style:normal;color:#000">04</span></td>
    <td class="tg-k6ck"><span style="font-style:normal;color:#000">05</span></td>
    <td class="tg-v5pn"><span style="font-style:normal;color:#000">06</span></td>
    <td class="tg-k6ck"><span style="font-style:normal;color:#000">07</span></td>
    <td class="tg-cxa3"><span style="color:#000">20</span></td>
    <td class="tg-rizn"><span style="font-style:normal">01</span></td>
    <td class="tg-b5o5"><span style="font-style:normal">02</span></td>
    <td class="tg-k6ck"><span style="font-style:normal">03</span></td>
    <td class="tg-k6ck"><span style="font-style:normal">04</span></td>
    <td class="tg-k6ck"><span style="font-style:normal">05</span></td>
    <td class="tg-k6ck"><span style="font-style:normal">06</span></td>
    <td class="tg-w4w7"><span style="font-style:normal">07</span></td>
    <td class="tg-v1r8"><span style="font-weight:normal">2021-15-04: Skjærtorsdag</span></td>
  </tr>
  <tr>
    <td class="tg-cxa3"><span style="color:#333">8</span></td>
    <td class="tg-o2tz"><span style="font-style:normal;color:#000">01</span></td>
    <td class="tg-o2tz"><span style="font-style:normal;color:#000">02</span></td>
    <td class="tg-o2tz"><span style="font-style:normal;color:#000">03</span></td>
    <td class="tg-o2tz"><span style="font-style:normal;color:#000">04</span></td>
    <td class="tg-o2tz"><span style="font-style:normal;color:#000">05</span></td>
    <td class="tg-o2tz"><span style="font-style:normal;color:#000">06</span></td>
    <td class="tg-o2tz"><span style="font-style:normal;color:#000">07</span></td>
    <td class="tg-cxa3"><span style="color:#000">21</span></td>
    <td class="tg-k53s"><span style="font-style:normal">01</span></td>
    <td class="tg-vtnc"><span style="font-style:normal">02</span></td>
    <td class="tg-o2tz"><span style="font-style:normal">03</span></td>
    <td class="tg-vtnc"><span style="font-style:normal">04</span></td>
    <td class="tg-o2tz"><span style="font-style:normal">05</span></td>
    <td class="tg-vtnc"><span style="font-style:normal">06</span></td>
    <td class="tg-k53s"><span style="font-style:normal">07</span></td>
    <td class="tg-v1r8"><span style="font-weight:normal;text-decoration:none">2021-15-05: Langfredag</span></td>
  </tr>
  <tr>
    <td class="tg-cxa3"><span style="color:#333">9</span></td>
    <td class="tg-k6ck"><span style="font-style:normal;color:#000">01</span></td>
    <td class="tg-k6ck"><span style="font-style:normal;color:#000">02</span></td>
    <td class="tg-k6ck"><span style="font-style:normal;color:#000">03</span></td>
    <td class="tg-k6ck"><span style="font-style:normal;color:#000">04</span></td>
    <td class="tg-k6ck"><span style="font-style:normal;color:#000">05</span></td>
    <td class="tg-k6ck"><span style="font-style:normal;color:#000">06</span></td>
    <td class="tg-k6ck"><span style="font-style:normal;color:#000">07</span></td>
    <td class="tg-cxa3"><span style="color:#000">22</span></td>
    <td class="tg-f791"><span style="font-style:normal">01</span></td>
    <td class="tg-k6ck"><span style="font-style:normal">02</span></td>
    <td class="tg-k6ck"><span style="font-style:normal">03</span></td>
    <td class="tg-k6ck"><span style="font-style:normal">04</span></td>
    <td class="tg-k6ck"><span style="font-style:normal">05</span></td>
    <td class="tg-k6ck"><span style="font-style:normal">06</span></td>
    <td class="tg-k6ck"><span style="font-style:normal">07</span></td>
    <td class="tg-j37l"><span style="font-weight:normal;text-decoration:none">2021-15-06: Påskeaften</span></td>
  </tr>
  <tr>
    <td class="tg-cxa3"><span style="color:#333">10</span></td>
    <td class="tg-o2tz"><span style="font-style:normal;color:#000">01</span></td>
    <td class="tg-o2tz"><span style="font-style:normal;color:#000">02</span></td>
    <td class="tg-o2tz"><span style="font-style:normal;color:#000">03</span></td>
    <td class="tg-o2tz"><span style="font-style:normal;color:#000">04</span></td>
    <td class="tg-o2tz"><span style="font-style:normal;color:#000">05</span></td>
    <td class="tg-o2tz"><span style="font-style:normal;color:#000">06</span></td>
    <td class="tg-o2tz"><span style="font-style:normal;color:#000">07</span></td>
    <td class="tg-cxa3"><span style="color:#000">23</span></td>
    <td class="tg-o2tz"><span style="font-style:normal">01</span></td>
    <td class="tg-o2tz"><span style="font-style:normal">02</span></td>
    <td class="tg-o2tz"><span style="font-style:normal">03</span></td>
    <td class="tg-o2tz"><span style="font-style:normal">04</span></td>
    <td class="tg-o2tz"><span style="font-style:normal">05</span></td>
    <td class="tg-o2tz"><span style="font-style:normal">06</span></td>
    <td class="tg-o2tz"><span style="font-style:normal">07</span></td>
    <td class="tg-v1r8"><span style="font-weight:normal;text-decoration:none">2021-15-07: 1. påskedag</span></td>
  </tr>
  <tr>
    <td class="tg-cxa3"><span style="color:#333">11</span></td>
    <td class="tg-k6ck"><span style="font-style:normal;color:#000">01</span></td>
    <td class="tg-k6ck"><span style="font-style:normal;color:#000">02</span></td>
    <td class="tg-k6ck"><span style="font-style:normal;color:#000">03</span></td>
    <td class="tg-k6ck"><span style="font-style:normal;color:#000">04</span></td>
    <td class="tg-k6ck"><span style="font-style:normal;color:#000">05</span></td>
    <td class="tg-k6ck"><span style="font-style:normal;color:#000">06</span></td>
    <td class="tg-k6ck"><span style="font-style:normal;color:#000">07</span></td>
    <td class="tg-cxa3"><span style="color:#000">24</span></td>
    <td class="tg-k6ck"><span style="font-style:normal">01</span></td>
    <td class="tg-k6ck"><span style="font-style:normal">02</span></td>
    <td class="tg-k6ck"><span style="font-style:normal">03</span></td>
    <td class="tg-k6ck"><span style="font-style:normal">04</span></td>
    <td class="tg-k6ck"><span style="font-style:normal">05</span></td>
    <td class="tg-k6ck"><span style="font-style:normal">06</span></td>
    <td class="tg-k6ck"><span style="font-style:normal">07</span></td>
    <td class="tg-v1r8"><span style="color:#FE0000;background-color:#FFF">2021-16-01: 2. påskedag</span></td>
  </tr>
  <tr>
    <td class="tg-cxa3"><span style="color:#333">12</span></td>
    <td class="tg-o2tz"><span style="font-style:normal;color:#000">01</span></td>
    <td class="tg-o2tz"><span style="font-style:normal;color:#000">02</span></td>
    <td class="tg-o2tz"><span style="font-style:normal;color:#000">03</span></td>
    <td class="tg-be60"><span style="font-style:normal">04</span></td>
    <td class="tg-be60"><span style="font-style:normal">05</span></td>
    <td class="tg-be60"><span style="font-style:normal">06</span></td>
    <td class="tg-be60">07</td>
    <td class="tg-cxa3"><span style="color:#000">25</span></td>
    <td class="tg-o2tz"><span style="font-style:normal">01</span></td>
    <td class="tg-o2tz"><span style="font-style:normal">02</span></td>
    <td class="tg-o2tz"><span style="font-style:normal">03</span></td>
    <td class="tg-o2tz"><span style="font-style:normal">04</span></td>
    <td class="tg-o2tz"><span style="font-style:normal">05</span></td>
    <td class="tg-o2tz"><span style="font-style:normal">06</span></td>
    <td class="tg-o2tz"><span style="color:#000;background-color:#F9F9F9">07</span></td>
    <td class="tg-be60"><span style="background-color:#F9F9F9">2021-17-07: 1. mai</span></td>
  </tr>
  <tr>
    <td class="tg-cxa3"><span style="color:#333">13</span></td>
    <td class="tg-k6ck"><span style="font-style:normal;color:#000">01</span></td>
    <td class="tg-k6ck"><span style="font-style:normal;color:#000">02</span></td>
    <td class="tg-k6ck"><span style="font-style:normal;color:#000">03</span></td>
    <td class="tg-rizn"><span style="background-color:#FFF">04</span></td>
    <td class="tg-rizn"><span style="background-color:#FFF">05</span></td>
    <td class="tg-rizn"><span style="background-color:#FFF">06</span></td>
    <td class="tg-rizn"><span style="background-color:#FFF">07</span></td>
    <td class="tg-cxa3"><span style="color:#000">26</span></td>
    <td class="tg-k6ck"><span style="font-style:normal">01</span></td>
    <td class="tg-k6ck"><span style="font-style:normal">02</span></td>
    <td class="tg-k6ck"><span style="font-style:normal">03</span></td>
    <td class="tg-k6ck"><span style="color:#000;background-color:#FFF">04</span></td>
    <td class="tg-k6ck"><span style="color:#000;background-color:#FFF">05</span></td>
    <td class="tg-k6ck"><span style="color:#000;background-color:#FFF">06</span></td>
    <td class="tg-k6ck"><span style="color:#000;background-color:#FFF">07</span></td>
    <td class="tg-rizn"><span style="background-color:#FFF">2021-19-02: ESC delfinale 1</span></td>
  </tr>
  <tr>
    <td class="tg-ivdu" colspan="8"><span style="font-style:normal;text-decoration:none">Ferie og seinsommer</span></td>
    <td class="tg-ivdu" colspan="8">Høst og jul</td>
    <td class="tg-o2tz"><span style="color:#333;background-color:#F9F9F9">2021-19</span><span style="background-color:#F9F9F9">-04</span><span style="color:#000;background-color:#F9F9F9">: ESC delfinale 2</span></td>
  </tr>
  <tr>
    <td class="tg-hs6m" colspan="8"><span style="font-style:italic;text-decoration:none">Tilsvarer juli, august, september</span></td>
    <td class="tg-hs6m" colspan="8"><span style="font-style:italic;color:#333;background-color:#EFEFEF">Tilsvarer oktober, november, desember</span></td>
    <td class="tg-k6ck"><span style="color:#333;background-color:#FFF">2021-19-06</span><span style="color:#000;background-color:#FFF">: ESC finale</span></td>
  </tr>
  <tr>
    <td class="tg-6z78"><span style="color:#333;background-color:#CBCEFB">U</span></td>
    <td class="tg-vtnc"><span style="color:#333;background-color:#F9F9F9">M</span></td>
    <td class="tg-vtnc"><span style="color:#333;background-color:#F9F9F9">T</span></td>
    <td class="tg-vtnc"><span style="color:#333;background-color:#F9F9F9">O</span></td>
    <td class="tg-vtnc"><span style="color:#333;background-color:#F9F9F9">T</span></td>
    <td class="tg-vtnc"><span style="color:#333;background-color:#F9F9F9">F</span></td>
    <td class="tg-vtnc"><span style="color:#333;background-color:#F9F9F9">L</span></td>
    <td class="tg-vtnc"><span style="color:#333;background-color:#F9F9F9">S</span></td>
    <td class="tg-6z78"><span style="color:#333;background-color:#CBCEFB">U</span></td>
    <td class="tg-vtnc"><span style="color:#000;background-color:#F9F9F9">M</span></td>
    <td class="tg-vtnc"><span style="color:#000;background-color:#F9F9F9">T</span></td>
    <td class="tg-vtnc"><span style="color:#000;background-color:#F9F9F9">O</span></td>
    <td class="tg-vtnc"><span style="color:#000;background-color:#F9F9F9">T</span></td>
    <td class="tg-vtnc"><span style="color:#000;background-color:#F9F9F9">F</span></td>
    <td class="tg-vtnc"><span style="color:#000;background-color:#F9F9F9">L</span></td>
    <td class="tg-vtnc"><span style="color:#000;background-color:#F9F9F9">S</span></td>
    <td class="tg-v1r8">2021-20-02: Norges grunnlovsdag</td>
  </tr>
  <tr>
    <td class="tg-r660"><span style="color:#000;background-color:#CBCEFB">27</span></td>
    <td class="tg-w4w7"><span style="font-style:normal">01</span></td>
    <td class="tg-w4w7"><span style="font-style:normal">02</span></td>
    <td class="tg-w4w7"><span style="font-style:normal">03</span></td>
    <td class="tg-w4w7"><span style="font-style:normal">04</span></td>
    <td class="tg-w4w7"><span style="font-style:normal">05</span></td>
    <td class="tg-w4w7"><span style="font-style:normal">06</span></td>
    <td class="tg-w4w7"><span style="font-style:normal">07</span></td>
    <td class="tg-r660"><span style="color:#000;background-color:#CBCEFB">40</span></td>
    <td class="tg-w4w7"><span style="font-style:normal">01</span></td>
    <td class="tg-w4w7"><span style="font-style:normal">02</span></td>
    <td class="tg-w4w7"><span style="font-style:normal">03</span></td>
    <td class="tg-w4w7"><span style="font-style:normal">04</span></td>
    <td class="tg-w4w7"><span style="font-style:normal">05</span></td>
    <td class="tg-w4w7"><span style="font-style:normal">06</span></td>
    <td class="tg-w4w7"><span style="font-style:normal">07</span></td>
    <td class="tg-7vef">2021-21-04: Kristi Himmelfartsdag</td>
  </tr>
  <tr>
    <td class="tg-r660"><span style="color:#000;background-color:#CBCEFB">28</span></td>
    <td class="tg-p0vg"><span style="font-style:normal">01</span></td>
    <td class="tg-p0vg"><span style="font-style:normal">02</span></td>
    <td class="tg-p0vg"><span style="font-style:normal">03</span></td>
    <td class="tg-p0vg"><span style="font-style:normal">04</span></td>
    <td class="tg-p0vg"><span style="font-style:normal">05</span></td>
    <td class="tg-p0vg"><span style="font-style:normal">06</span></td>
    <td class="tg-p0vg"><span style="font-style:normal">07</span></td>
    <td class="tg-r660"><span style="color:#000;background-color:#CBCEFB">41</span></td>
    <td class="tg-p0vg"><span style="font-style:normal">01</span></td>
    <td class="tg-p0vg"><span style="font-style:normal">02</span></td>
    <td class="tg-p0vg"><span style="font-style:normal">03</span></td>
    <td class="tg-p0vg"><span style="font-style:normal">04</span></td>
    <td class="tg-p0vg"><span style="font-style:normal">05</span></td>
    <td class="tg-p0vg"><span style="font-style:normal">06</span></td>
    <td class="tg-p0vg"><span style="font-style:normal">07</span></td>
    <td class="tg-v1r8"><span style="color:#FE0000;background-color:#FFF">2021-22</span><span style="background-color:#FFF">-07: 1. pinsedag</span></td>
  </tr>
  <tr>
    <td class="tg-r660"><span style="color:#000;background-color:#CBCEFB">29</span></td>
    <td class="tg-w4w7"><span style="font-style:normal">01</span></td>
    <td class="tg-w4w7"><span style="font-style:normal">02</span></td>
    <td class="tg-w4w7"><span style="font-style:normal">03</span></td>
    <td class="tg-w4w7"><span style="font-style:normal">04</span></td>
    <td class="tg-w4w7"><span style="font-style:normal">05</span></td>
    <td class="tg-w4w7"><span style="font-style:normal">06</span></td>
    <td class="tg-w4w7"><span style="font-style:normal">07</span></td>
    <td class="tg-r660"><span style="color:#000;background-color:#CBCEFB">42</span></td>
    <td class="tg-w4w7"><span style="font-style:normal">01</span></td>
    <td class="tg-w4w7"><span style="font-style:normal">02</span></td>
    <td class="tg-w4w7"><span style="font-style:normal">03</span></td>
    <td class="tg-w4w7"><span style="font-style:normal">04</span></td>
    <td class="tg-w4w7"><span style="font-style:normal">05</span></td>
    <td class="tg-w4w7"><span style="font-style:normal">06</span></td>
    <td class="tg-w4w7"><span style="font-style:normal">07</span></td>
    <td class="tg-v1r8"><span style="color:#FE0000;background-color:#FFF">2021-23-01: 2. pinsedag</span></td>
  </tr>
  <tr>
    <td class="tg-r660"><span style="color:#000;background-color:#CBCEFB">30</span></td>
    <td class="tg-p0vg"><span style="font-style:normal">01</span></td>
    <td class="tg-p0vg"><span style="font-style:normal">02</span></td>
    <td class="tg-p0vg"><span style="font-style:normal">03</span></td>
    <td class="tg-p0vg"><span style="font-style:normal">04</span></td>
    <td class="tg-p0vg"><span style="font-style:normal">05</span></td>
    <td class="tg-p0vg"><span style="font-style:normal">06</span></td>
    <td class="tg-p0vg"><span style="font-style:normal">07</span></td>
    <td class="tg-r660"><span style="color:#000;background-color:#CBCEFB">43</span></td>
    <td class="tg-p0vg"><span style="font-style:normal">01</span></td>
    <td class="tg-p0vg"><span style="font-style:normal">02</span></td>
    <td class="tg-p0vg"><span style="font-style:normal">03</span></td>
    <td class="tg-p0vg"><span style="font-style:normal">04</span></td>
    <td class="tg-p0vg"><span style="font-style:normal">05</span></td>
    <td class="tg-p0vg"><span style="font-style:normal">06</span></td>
    <td class="tg-p0vg"><span style="font-style:normal">07</span></td>
    <td class="tg-rizn"><span style="font-weight:normal;text-decoration:none">2021-37-5: Oslo kulturnatt</span></td>
  </tr>
  <tr>
    <td class="tg-r660"><span style="color:#000;background-color:#CBCEFB">31</span></td>
    <td class="tg-w4w7"><span style="font-style:normal">01</span></td>
    <td class="tg-w4w7"><span style="font-style:normal">02</span></td>
    <td class="tg-w4w7"><span style="font-style:normal">03</span></td>
    <td class="tg-w4w7"><span style="font-style:normal">04</span></td>
    <td class="tg-w4w7"><span style="font-style:normal">05</span></td>
    <td class="tg-w4w7"><span style="font-style:normal">06</span></td>
    <td class="tg-w4w7"><span style="font-style:normal">07</span></td>
    <td class="tg-r660"><span style="color:#000;background-color:#CBCEFB">44</span></td>
    <td class="tg-w4w7"><span style="font-style:normal">01</span></td>
    <td class="tg-w4w7"><span style="font-style:normal">02</span></td>
    <td class="tg-w4w7"><span style="font-style:normal">03</span></td>
    <td class="tg-w4w7"><span style="font-style:normal">04</span></td>
    <td class="tg-w4w7"><span style="font-style:normal">05</span></td>
    <td class="tg-w4w7"><span style="font-style:normal">06</span></td>
    <td class="tg-w4w7"><span style="font-style:normal">07</span></td>
    <td class="tg-7vef"><span style="color:#000;background-color:#F9F9F9">2021-51-6: Julaften</span></td>
  </tr>
  <tr>
    <td class="tg-r660"><span style="color:#000;background-color:#CBCEFB">32</span></td>
    <td class="tg-p0vg"><span style="font-style:normal">01</span></td>
    <td class="tg-p0vg"><span style="font-style:normal">02</span></td>
    <td class="tg-p0vg"><span style="background-color:#F9F9F9">03</span></td>
    <td class="tg-p0vg"><span style="font-style:normal">04</span></td>
    <td class="tg-p0vg"><span style="font-style:normal">05</span></td>
    <td class="tg-p0vg"><span style="font-style:normal">06</span></td>
    <td class="tg-p0vg"><span style="font-style:normal">07</span></td>
    <td class="tg-r660"><span style="color:#000;background-color:#CBCEFB">45</span></td>
    <td class="tg-p0vg"><span style="font-style:normal">01</span></td>
    <td class="tg-p0vg"><span style="font-style:normal">02</span></td>
    <td class="tg-p0vg"><span style="background-color:#F9F9F9">03</span></td>
    <td class="tg-p0vg"><span style="font-style:normal">04</span></td>
    <td class="tg-p0vg"><span style="font-style:normal">05</span></td>
    <td class="tg-p0vg"><span style="font-style:normal">06</span></td>
    <td class="tg-p0vg"><span style="font-style:normal">07</span></td>
    <td class="tg-v1r8"><span style="color:#FE0000;background-color:#FFF">2021-51-7: 1. juledag</span></td>
  </tr>
  <tr>
    <td class="tg-r660"><span style="color:#000;background-color:#CBCEFB">33</span></td>
    <td class="tg-w4w7"><span style="font-style:normal">01</span></td>
    <td class="tg-w4w7"><span style="font-style:normal">02</span></td>
    <td class="tg-w4w7"><span style="font-style:normal">03</span></td>
    <td class="tg-w4w7"><span style="font-style:normal">04</span></td>
    <td class="tg-w4w7"><span style="font-style:normal">05</span></td>
    <td class="tg-w4w7"><span style="font-style:normal">06</span></td>
    <td class="tg-w4w7"><span style="font-style:normal">07</span></td>
    <td class="tg-r660"><span style="color:#000;background-color:#CBCEFB">46</span></td>
    <td class="tg-w4w7"><span style="font-style:normal">01</span></td>
    <td class="tg-w4w7"><span style="font-style:normal">02</span></td>
    <td class="tg-w4w7"><span style="font-style:normal">03</span></td>
    <td class="tg-w4w7"><span style="font-style:normal">04</span></td>
    <td class="tg-w4w7"><span style="font-style:normal">05</span></td>
    <td class="tg-w4w7"><span style="font-style:normal">06</span></td>
    <td class="tg-w4w7"><span style="font-style:normal">07</span></td>
    <td class="tg-7vef"><span style="color:#FE0000;background-color:#F9F9F9">2021-52-1: 2. juledag</span></td>
  </tr>
  <tr>
    <td class="tg-r660"><span style="color:#000;background-color:#CBCEFB">34</span></td>
    <td class="tg-p0vg"><span style="font-style:normal">01</span></td>
    <td class="tg-p0vg"><span style="font-style:normal">02</span></td>
    <td class="tg-p0vg"><span style="font-style:normal">03</span></td>
    <td class="tg-p0vg"><span style="font-style:normal">04</span></td>
    <td class="tg-p0vg"><span style="font-style:normal">05</span></td>
    <td class="tg-p0vg"><span style="font-style:normal">06</span></td>
    <td class="tg-p0vg"><span style="font-style:normal">07</span></td>
    <td class="tg-r660"><span style="color:#000;background-color:#CBCEFB">47</span></td>
    <td class="tg-p0vg"><span style="font-style:normal">01</span></td>
    <td class="tg-p0vg"><span style="font-style:normal">02</span></td>
    <td class="tg-p0vg"><span style="font-style:normal">03</span></td>
    <td class="tg-p0vg"><span style="font-style:normal">04</span></td>
    <td class="tg-p0vg"><span style="font-style:normal">05</span></td>
    <td class="tg-p0vg"><span style="font-style:normal">06</span></td>
    <td class="tg-p0vg"><span style="font-style:normal">07</span></td>
    <td class="tg-w4w7"><span style="color:#000;background-color:#FFF">2021-52-6: Nyttårsaften</span></td>
  </tr>
  <tr>
    <td class="tg-r660"><span style="color:#000;background-color:#CBCEFB">35</span></td>
    <td class="tg-w4w7"><span style="font-style:normal">01</span></td>
    <td class="tg-w4w7"><span style="font-style:normal">02</span></td>
    <td class="tg-w4w7"><span style="font-style:normal">03</span></td>
    <td class="tg-w4w7"><span style="font-style:normal">04</span></td>
    <td class="tg-w4w7"><span style="font-style:normal">05</span></td>
    <td class="tg-w4w7"><span style="font-style:normal">06</span></td>
    <td class="tg-w4w7"><span style="font-style:normal">07</span></td>
    <td class="tg-r660"><span style="color:#000;background-color:#CBCEFB">48</span></td>
    <td class="tg-w4w7"><span style="font-style:normal">01</span></td>
    <td class="tg-w4w7"><span style="font-style:normal">02</span></td>
    <td class="tg-w4w7"><span style="font-style:normal">03</span></td>
    <td class="tg-w4w7"><span style="font-style:normal">04</span></td>
    <td class="tg-w4w7"><span style="font-style:normal">05</span></td>
    <td class="tg-w4w7"><span style="font-style:normal">06</span></td>
    <td class="tg-w4w7"><span style="font-style:normal">07</span></td>
    <td class="tg-rizn">God jul</td>
  </tr>
  <tr>
    <td class="tg-r660"><span style="color:#000;background-color:#CBCEFB">36</span></td>
    <td class="tg-p0vg"><span style="font-style:normal">01</span></td>
    <td class="tg-p0vg"><span style="font-style:normal">02</span></td>
    <td class="tg-p0vg"><span style="font-style:normal">03</span></td>
    <td class="tg-p0vg"><span style="font-style:normal">04</span></td>
    <td class="tg-p0vg"><span style="font-style:normal">05</span></td>
    <td class="tg-p0vg"><span style="font-style:normal">06</span></td>
    <td class="tg-p0vg"><span style="font-style:normal">07</span></td>
    <td class="tg-r660"><span style="color:#000;background-color:#CBCEFB">49</span></td>
    <td class="tg-p0vg"><span style="font-style:normal">01</span></td>
    <td class="tg-p0vg"><span style="font-style:normal">02</span></td>
    <td class="tg-p0vg"><span style="font-style:normal">03</span></td>
    <td class="tg-p0vg"><span style="font-style:normal">04</span></td>
    <td class="tg-p0vg"><span style="font-style:normal">05</span></td>
    <td class="tg-p0vg"><span style="font-style:normal">06</span></td>
    <td class="tg-p0vg"><span style="font-style:normal">07</span></td>
    <td class="tg-be60">og</td>
  </tr>
  <tr>
    <td class="tg-r660"><span style="color:#000;background-color:#CBCEFB">37</span></td>
    <td class="tg-w4w7"><span style="font-style:normal">01</span></td>
    <td class="tg-w4w7"><span style="font-style:normal">02</span></td>
    <td class="tg-w4w7"><span style="font-style:normal">03</span></td>
    <td class="tg-w4w7"><span style="font-style:normal">04</span></td>
    <td class="tg-0jzc"><span style="color:#000;background-color:#FFF">05</span></td>
    <td class="tg-w4w7"><span style="font-style:normal">06</span></td>
    <td class="tg-w4w7"><span style="font-style:normal">07</span></td>
    <td class="tg-r660"><span style="color:#000;background-color:#CBCEFB">50</span></td>
    <td class="tg-w4w7"><span style="font-style:normal">01</span></td>
    <td class="tg-w4w7"><span style="font-style:normal">02</span></td>
    <td class="tg-w4w7"><span style="font-style:normal">03</span></td>
    <td class="tg-w4w7"><span style="font-style:normal">04</span></td>
    <td class="tg-w4w7"><span style="font-style:normal">05</span></td>
    <td class="tg-w4w7"><span style="font-style:normal">06</span></td>
    <td class="tg-w4w7"><span style="font-style:normal">07</span></td>
    <td class="tg-rizn">godt nytt</td>
  </tr>
  <tr>
    <td class="tg-r660"><span style="color:#000;background-color:#CBCEFB">38</span></td>
    <td class="tg-p0vg"><span style="font-style:normal">01</span></td>
    <td class="tg-p0vg"><span style="font-style:normal">02</span></td>
    <td class="tg-p0vg"><span style="font-style:normal">03</span></td>
    <td class="tg-p0vg"><span style="font-style:normal">04</span></td>
    <td class="tg-p0vg"><span style="font-style:normal">05</span></td>
    <td class="tg-p0vg"><span style="font-style:normal">06</span></td>
    <td class="tg-p0vg"><span style="color:#000;background-color:#F9F9F9">07</span></td>
    <td class="tg-r660"><span style="color:#000;background-color:#CBCEFB">51</span></td>
    <td class="tg-p0vg"><span style="font-style:normal">01</span></td>
    <td class="tg-p0vg"><span style="font-style:normal">02</span></td>
    <td class="tg-p0vg"><span style="font-style:normal">03</span></td>
    <td class="tg-p0vg"><span style="font-style:normal">04</span></td>
    <td class="tg-p0vg"><span style="font-style:normal">05</span></td>
    <td class="tg-vhkm"><span style="font-style:normal">06</span></td>
    <td class="tg-jwh4"><span style="background-color:#F9F9F9">07</span></td>
    <td class="tg-be60">år!</td>
  </tr>
  <tr>
    <td class="tg-r660"><span style="color:#000;background-color:#CBCEFB">39</span></td>
    <td class="tg-w4w7"><span style="font-style:normal">01</span></td>
    <td class="tg-w4w7"><span style="font-style:normal">02</span></td>
    <td class="tg-w4w7"><span style="font-style:normal">03</span></td>
    <td class="tg-w4w7"><span style="background-color:#FFF">04</span></td>
    <td class="tg-w4w7"><span style="background-color:#FFF">05</span></td>
    <td class="tg-w4w7"><span style="background-color:#FFF">06</span></td>
    <td class="tg-w4w7"><span style="background-color:#FFF">07</span></td>
    <td class="tg-r660"><span style="color:#000;background-color:#CBCEFB">52</span></td>
    <td class="tg-b5o5"><span style="font-style:normal">01</span></td>
    <td class="tg-w4w7"><span style="font-style:normal">02</span></td>
    <td class="tg-w4w7"><span style="font-style:normal">03</span></td>
    <td class="tg-w4w7"><span style="background-color:#FFF">04</span></td>
    <td class="tg-w4w7"><span style="background-color:#FFF">05</span></td>
    <td class="tg-qjpv"><span style="background-color:#FFF">06</span></td>
    <td class="tg-6e82"><span style="background-color:#FFF">07</span></td>
    <td class="tg-rizn">:-)</td>
  </tr>
</tbody>
</table></div>