<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  overflow:hidden;padding:10px 5px;word-break:normal;}
.tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tg-yon2{background-color:#c0c0c0;border-color:inherit;text-align:left;vertical-align:bottom}
.tg .tg-5ztr{background-color:#cbcefb;border-color:inherit;font-weight:bold;text-align:left;vertical-align:top}
.tg .tg-8m8h{background-color:#cbcefb;border-color:inherit;font-weight:bold;text-align:center;vertical-align:top}
.tg .tg-c3ow{border-color:inherit;text-align:center;vertical-align:top}
.tg .tg-jfoo{border-color:inherit;font-size:20px;font-weight:bold;text-align:center;vertical-align:top}
.tg .tg-za14{border-color:inherit;text-align:left;vertical-align:bottom}
.tg .tg-0pky{border-color:inherit;text-align:left;vertical-align:top}
</style>
<table class="tg">
<thead>
  <tr>
    <th class="tg-jfoo" colspan="9">Nyår og vinter<br>(jan, feb, mar)</th>
    <th class="tg-jfoo" colspan="9">Sommerferie og høst<br>(jul, aug, sep)</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td class="tg-5ztr">Uke</td>
    <td class="tg-5ztr">M</td>
    <td class="tg-5ztr">T</td>
    <td class="tg-5ztr">O</td>
    <td class="tg-5ztr">T</td>
    <td class="tg-5ztr">F</td>
    <td class="tg-5ztr">L</td>
    <td class="tg-5ztr">S</td>
    <td class="tg-5ztr">Merkedager</td>
    <td class="tg-5ztr">Uke</td>
    <td class="tg-5ztr">M</td>
    <td class="tg-5ztr">T</td>
    <td class="tg-5ztr">O</td>
    <td class="tg-5ztr">T</td>
    <td class="tg-5ztr">F</td>
    <td class="tg-5ztr">L</td>
    <td class="tg-5ztr">S</td>
    <td class="tg-5ztr">Merkedager</td>
  </tr>
  <tr>
    <td class="tg-yon2"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">W01</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">01</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">02</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">03</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">04</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">05</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">06</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">07</span></td>
    <td class="tg-0pky">01: Året starter på 2. januar</td>
    <td class="tg-yon2"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">W27</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">01</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">02</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">03</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">04</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">05</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">06</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">07</span></td>
    <td class="tg-0pky"></td>
  </tr>
  <tr>
    <td class="tg-yon2"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">W02</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">01</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">02</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">03</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">04</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">05</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">06</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">07</span></td>
    <td class="tg-0pky">06: MGP-delfinale 1</td>
    <td class="tg-yon2"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">W28</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">01</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">02</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">03</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">04</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">05</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">06</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">07</span></td>
    <td class="tg-0pky"></td>
  </tr>
  <tr>
    <td class="tg-yon2"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">W03</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">01</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">02</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">03</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">04</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">05</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">06</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">07</span></td>
    <td class="tg-0pky">06: MGP-delfinale 2</td>
    <td class="tg-yon2"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">W29</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">01</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">02</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">03</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">04</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">05</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">06</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">07</span></td>
    <td class="tg-0pky"></td>
  </tr>
  <tr>
    <td class="tg-yon2"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">W04</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">01</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">02</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">03</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">04</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">05</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">06</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">07</span></td>
    <td class="tg-0pky">06: MGP-delfinale 3</td>
    <td class="tg-yon2"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">W30</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">01</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">02</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">03</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">04</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">05</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">06</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">07</span></td>
    <td class="tg-0pky"></td>
  </tr>
  <tr>
    <td class="tg-yon2"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">W05</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">01</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">02</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">03</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">04</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">05</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">06</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">07</span></td>
    <td class="tg-0pky">06: MGP-finale</td>
    <td class="tg-yon2"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">W31</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">01</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">02</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">03</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">04</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">05</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">06</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">07</span></td>
    <td class="tg-0pky"></td>
  </tr>
  <tr>
    <td class="tg-yon2"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">W06</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">01</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">02</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">03</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">04</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">05</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">06</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">07</span></td>
    <td class="tg-0pky"></td>
    <td class="tg-yon2"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">W32</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">01</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">02</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">03</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">04</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">05</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">06</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">07</span></td>
    <td class="tg-0pky"></td>
  </tr>
  <tr>
    <td class="tg-yon2"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">W07</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">01</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">02</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">03</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">04</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">05</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">06</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">07</span></td>
    <td class="tg-0pky">07: Fastelavn</td>
    <td class="tg-yon2"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">W33</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">01</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">02</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">03</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">04</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">05</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">06</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">07</span></td>
    <td class="tg-0pky"></td>
  </tr>
  <tr>
    <td class="tg-yon2"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">W08</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">01</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">02</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">03</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">04</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">05</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">06</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">07</span></td>
    <td class="tg-0pky"></td>
    <td class="tg-yon2"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">W34</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">01</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">02</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">03</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">04</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">05</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">06</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">07</span></td>
    <td class="tg-0pky"></td>
  </tr>
  <tr>
    <td class="tg-yon2"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">W09</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">01</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">02</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">03</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">04</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">05</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">06</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">07</span></td>
    <td class="tg-0pky"></td>
    <td class="tg-yon2"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">W35</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">01</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">02</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">03</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">04</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">05</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">06</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">07</span></td>
    <td class="tg-0pky"></td>
  </tr>
  <tr>
    <td class="tg-yon2"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">W10</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">01</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">02</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">03</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">04</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">05</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">06</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">07</span></td>
    <td class="tg-0pky"></td>
    <td class="tg-yon2"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">W36</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">01</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">02</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">03</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">04</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">05</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">06</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">07</span></td>
    <td class="tg-0pky"></td>
  </tr>
  <tr>
    <td class="tg-yon2"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">W11</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">01</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">02</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">03</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">04</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">05</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">06</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">07</span></td>
    <td class="tg-0pky"></td>
    <td class="tg-yon2"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">W37</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">01</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">02</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">03</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">04</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">05</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">06</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">07</span></td>
    <td class="tg-0pky"></td>
  </tr>
  <tr>
    <td class="tg-yon2"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">W12</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">01</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">02</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">03</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">04</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">05</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">06</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">07</span></td>
    <td class="tg-0pky">07: Sommertid</td>
    <td class="tg-yon2"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">W38</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">01</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">02</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">03</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">04</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">05</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">06</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">07</span></td>
    <td class="tg-0pky"></td>
  </tr>
  <tr>
    <td class="tg-yon2"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">W13</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">01</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">02</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">03</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">04</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">05</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">06</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">07</span></td>
    <td class="tg-0pky">07: Palmesøndag</td>
    <td class="tg-yon2"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">W39</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">01</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">02</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">03</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">04</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">05</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">06</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">07</span></td>
    <td class="tg-0pky"></td>
  </tr>
  <tr>
    <td class="tg-jfoo" colspan="9">Vår og forsommer<br>(apr, mai, jun)</td>
    <td class="tg-jfoo" colspan="9">Ordentlig høst og jul<br>(okt, nov, des)</td>
  </tr>
  <tr>
    <td class="tg-8m8h">Uke</td>
    <td class="tg-8m8h">M</td>
    <td class="tg-8m8h">T</td>
    <td class="tg-8m8h">O</td>
    <td class="tg-8m8h">T</td>
    <td class="tg-8m8h">F</td>
    <td class="tg-8m8h">L</td>
    <td class="tg-8m8h">S</td>
    <td class="tg-8m8h">Merkedager</td>
    <td class="tg-8m8h">Uke</td>
    <td class="tg-8m8h">M</td>
    <td class="tg-8m8h">T</td>
    <td class="tg-8m8h">O</td>
    <td class="tg-8m8h">T</td>
    <td class="tg-8m8h">F</td>
    <td class="tg-8m8h">L</td>
    <td class="tg-8m8h">S</td>
    <td class="tg-8m8h">Merkedager</td>
  </tr>
  <tr>
    <td class="tg-yon2"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">W14</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">01</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">02</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">03</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">04</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">05</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">06</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">07</span></td>
    <td class="tg-c3ow">04: Skjærtorsdag, 05: Langfredag, 06: Påskeaften 07: 1. påskedag</td>
    <td class="tg-yon2"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">W40</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">01</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">02</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">03</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">04</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">05</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">06</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">07</span></td>
    <td class="tg-0pky"></td>
  </tr>
  <tr>
    <td class="tg-yon2"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">W15</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">01</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">02</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">03</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">04</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">05</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">06</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">07</span></td>
    <td class="tg-0pky">01: 2. påskedag</td>
    <td class="tg-yon2"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">W41</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">01</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">02</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">03</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">04</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">05</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">06</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">07</span></td>
    <td class="tg-0pky"></td>
  </tr>
  <tr>
    <td class="tg-yon2"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">W16</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">01</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">02</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">03</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">04</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">05</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">06</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">07</span></td>
    <td class="tg-0pky"></td>
    <td class="tg-yon2"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">W42</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">01</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">02</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">03</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">04</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">05</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">06</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">07</span></td>
    <td class="tg-0pky"></td>
  </tr>
  <tr>
    <td class="tg-yon2"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">W17</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">01</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">02</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">03</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">04</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">05</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">06</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">07</span></td>
    <td class="tg-0pky"></td>
    <td class="tg-yon2"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">W43</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">01</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">02</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">03</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">04</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">05</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">06</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">07</span></td>
    <td class="tg-0pky">07: Normaltid</td>
  </tr>
  <tr>
    <td class="tg-yon2"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">W18</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">01</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">02</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">03</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">04</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">05</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">06</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">07</span></td>
    <td class="tg-0pky">01: Arbeidernes dag</td>
    <td class="tg-yon2"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">W44</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">01</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">02</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">03</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">04</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">05</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">06</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">07</span></td>
    <td class="tg-0pky"></td>
  </tr>
  <tr>
    <td class="tg-yon2"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">W19</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">01</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">02</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">03</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">04</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">05</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">06</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">07</span></td>
    <td class="tg-0pky">02: ESC-semi 1, 04: ESC-semi 2, 06: ESC-finale</td>
    <td class="tg-yon2"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">W45</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">01</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">02</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">03</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">04</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">05</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">06</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">07</span></td>
    <td class="tg-0pky"></td>
  </tr>
  <tr>
    <td class="tg-yon2"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">W20</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">01</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">02</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">03</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">04</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">05</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">06</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">07</span></td>
    <td class="tg-0pky">03: Grunnlovsdag, 04: Kr. Himmelfartsdag</td>
    <td class="tg-yon2"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">W46</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">01</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">02</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">03</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">04</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">05</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">06</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">07</span></td>
    <td class="tg-0pky"></td>
  </tr>
  <tr>
    <td class="tg-yon2"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">W21</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">01</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">02</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">03</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">04</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">05</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">06</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">07</span></td>
    <td class="tg-0pky">06: Pinseaften, 07: 1. pinsedag</td>
    <td class="tg-yon2"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">W47</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">01</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">02</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">03</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">04</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">05</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">06</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">07</span></td>
    <td class="tg-0pky"></td>
  </tr>
  <tr>
    <td class="tg-yon2"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">W22</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">01</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">02</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">03</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">04</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">05</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">06</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">07</span></td>
    <td class="tg-0pky">01: 2. pinsedag</td>
    <td class="tg-yon2"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">W48</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">01</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">02</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">03</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">04</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">05</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">06</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">07</span></td>
    <td class="tg-0pky">07: 1. søndag i advent</td>
  </tr>
  <tr>
    <td class="tg-yon2"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">W23</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">01</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">02</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">03</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">04</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">05</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">06</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">07</span></td>
    <td class="tg-0pky"></td>
    <td class="tg-yon2"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">W49</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">01</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">02</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">03</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">04</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">05</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">06</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">07</span></td>
    <td class="tg-0pky">07: 2. søndag i advent</td>
  </tr>
  <tr>
    <td class="tg-yon2"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">W24</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">01</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">02</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">03</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">04</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">05</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">06</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">07</span></td>
    <td class="tg-0pky"></td>
    <td class="tg-yon2"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">W50</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">01</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">02</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">03</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">04</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">05</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">06</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">07</span></td>
    <td class="tg-0pky"><span style="font-weight:400;font-style:normal;text-decoration:none">07: 3</span>. søndag i advent</td>
  </tr>
  <tr>
    <td class="tg-yon2"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">W25</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">01</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">02</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">03</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">04</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">05</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">06</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">07</span></td>
    <td class="tg-0pky"><a href="https://www.shera.no/events/54">03: Sommersolverv <sup><i class="fas fa-external-link-alt"></i></sup></a></td>
    <td class="tg-yon2"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">W51</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">01</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">02</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">03</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">04</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">05</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">06</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">07</span></td>
    <td class="tg-0pky">07: 4. søndag i advent og julaften</td>
  </tr>
  <tr>
    <td class="tg-yon2"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">W26</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">01</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">02</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">03</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">04</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">05</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">06</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">07</span></td>
    <td class="tg-0pky"></td>
    <td class="tg-yon2"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">W52</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">01</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">02</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">03</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">04</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">05</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">06</span></td>
    <td class="tg-za14"><span style="font-weight:400;font-style:normal;text-decoration:none;color:black">07</span></td>
    <td class="tg-0pky">01: 1. juledag, 02: 2. juledag, 07: nyttårsaften</td>
  </tr>
</tbody>
</table>