<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  overflow:hidden;padding:10px 5px;word-break:normal;}
.tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tg-sxzk{border-color:inherit;font-size:xx-large;font-weight:bold;text-align:center;vertical-align:top}
.tg .tg-c4ww{background-color:#cbcefb;border-color:inherit;text-align:center;vertical-align:top}
.tg .tg-c3ow{border-color:inherit;text-align:center;vertical-align:top}
.tg .tg-rvyq{border-color:inherit;font-style:italic;font-weight:bold;text-align:center;vertical-align:top}
.tg .tg-7btt{border-color:inherit;font-weight:bold;text-align:center;vertical-align:top}
.tg .tg-aq4l{background-color:#c0c0c0;border-color:inherit;font-style:italic;text-align:center;vertical-align:top}
.tg .tg-z9kx{background-color:#c0c0c0;border-color:inherit;color:#333333;font-style:italic;text-align:center;vertical-align:top}
</style>
<table class="tg">
<thead>
  <tr>
    <th class="tg-rvyq">W</th>
    <th class="tg-7btt">1 man</th>
    <th class="tg-7btt">2 tir</th>
    <th class="tg-7btt">3 ons</th>
    <th class="tg-7btt">4 tor</th>
    <th class="tg-7btt">5 fre</th>
    <th class="tg-7btt">6 lør</th>
    <th class="tg-7btt">7 søn</th>
    <th class="tg-7btt"></th>
    <th class="tg-7btt">W</th>
    <th class="tg-7btt">1 man</th>
    <th class="tg-7btt">2 tir</th>
    <th class="tg-7btt">3 ons</th>
    <th class="tg-7btt">4 tor</th>
    <th class="tg-7btt">5 fre</th>
    <th class="tg-7btt">6 lør</th>
    <th class="tg-7btt">7 søn</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td class="tg-sxzk" colspan="8">Nyår og vinter</td>
    <td class="tg-c3ow"></td>
    <td class="tg-sxzk" colspan="8">Sommerferie og høst</td>
  </tr>
  <tr>
    <td class="tg-aq4l"><span style="font-weight:normal;color:#000">01</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">02.01</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">03.01</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">04.01</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">05.01</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">06.01</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">07.01</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">08.01</span></td>
    <td class="tg-c3ow"></td>
    <td class="tg-aq4l">27</td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">03.07</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">04.07</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">05.07</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">06.07</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">07.07</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">08.07</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">09.07</span></td>
  </tr>
  <tr>
    <td class="tg-aq4l"><span style="font-weight:normal;color:#000">02</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">09.01</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">10.01</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">11.01</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">12.01</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">13.01</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">14.01</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">15.01</span></td>
    <td class="tg-c3ow"></td>
    <td class="tg-aq4l"><span style="font-weight:normal;color:#000">28</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">10.07</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">11.07</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">12.07</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">13.07</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">14.07</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">15.07</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">16.07</span></td>
  </tr>
  <tr>
    <td class="tg-aq4l"><span style="font-weight:normal;color:#000">03</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">16.01</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">17.01</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">18.01</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">19.01</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">20.01</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">21.01</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">22.01</span></td>
    <td class="tg-c3ow"></td>
    <td class="tg-aq4l"><span style="font-weight:normal;color:#000">29</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">17.07</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">18.07</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">19.07</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">20.07</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">21.07</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">22.07</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">23.07</span></td>
  </tr>
  <tr>
    <td class="tg-aq4l"><span style="font-weight:normal;color:#000">04</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">23.01</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">24.01</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">25.01</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">26.01</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">27.01</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">28.01</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">29.01</span></td>
    <td class="tg-c3ow"></td>
    <td class="tg-aq4l"><span style="font-weight:normal;color:#000">30</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">24.07</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">25.07</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">26.07</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">27.07</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">28.07</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">29.07</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">30.07</span></td>
  </tr>
  <tr>
    <td class="tg-aq4l"><span style="font-weight:normal;color:#000">05</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">30.01</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">31.01</span></td>
    <td class="tg-c4ww"><span style="font-weight:normal;font-style:normal;color:#000">01.02</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">02.02</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">03.02</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">04.02</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">05.02</span></td>
    <td class="tg-c3ow"></td>
    <td class="tg-aq4l"><span style="font-weight:normal;color:#000">31</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">31.07</span></td>
    <td class="tg-c4ww"><span style="font-weight:normal;font-style:normal;color:#000">01.08</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">02.08</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">03.08</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">04.08</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">05.08</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">06.08</span></td>
  </tr>
  <tr>
    <td class="tg-aq4l"><span style="font-weight:normal;color:#000">06</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">06.02</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">07.02</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">08.02</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">09.02</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">10.02</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">11.02</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">12.02</span></td>
    <td class="tg-c3ow"></td>
    <td class="tg-aq4l"><span style="font-weight:normal;color:#000">32</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">07.08</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">08.08</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">09.08</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">10.08</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">11.08</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">12.08</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">13.08</span></td>
  </tr>
  <tr>
    <td class="tg-aq4l"><span style="font-weight:normal;color:#000">07</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">13.02</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">14.02</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">15.02</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">16.02</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">17.02</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">18.02</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">19.02</span></td>
    <td class="tg-c3ow"></td>
    <td class="tg-aq4l"><span style="font-weight:normal;color:#000">33</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">14.08</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">15.08</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">16.08</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">17.08</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">18.08</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">19.08</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">20.08</span></td>
  </tr>
  <tr>
    <td class="tg-aq4l"><span style="font-weight:normal;color:#000">08</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">20.02</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">21.02</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">22.02</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">23.02</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">24.02</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">25.02</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">26.02</span></td>
    <td class="tg-c3ow"></td>
    <td class="tg-aq4l"><span style="font-weight:normal;color:#000">34</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">21.08</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">22.08</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">23.08</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">24.08</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">25.08</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">26.08</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">27.08</span></td>
  </tr>
  <tr>
    <td class="tg-aq4l"><span style="font-weight:normal;color:#000">09</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">27.02</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">28.02</span></td>
    <td class="tg-c4ww"><span style="font-weight:normal;font-style:normal;color:#000">01.03</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">02.03</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">03.03</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">04.03</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">05.03</span></td>
    <td class="tg-c3ow"></td>
    <td class="tg-aq4l"><span style="font-weight:normal;color:#000">35</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">28.08</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">29.08</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">30.08</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">31.08</span></td>
    <td class="tg-c4ww"><span style="font-weight:normal;font-style:normal;color:#000">01.09</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">02.09</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">03.09</span></td>
  </tr>
  <tr>
    <td class="tg-aq4l"><span style="font-weight:normal;color:#000">10</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">06.03</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">07.03</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">08.03</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">09.03</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">10.03</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">11.03</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">12.03</span></td>
    <td class="tg-c3ow"></td>
    <td class="tg-aq4l"><span style="font-weight:normal;color:#000">36</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">04.09</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">05.09</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">06.09</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">07.09</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">08.09</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">09.09</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">10.09</span></td>
  </tr>
  <tr>
    <td class="tg-aq4l"><span style="font-weight:normal;color:#000">11</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">13.03</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">14.03</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">15.03</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">16.03</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">17.03</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">18.03</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">19.03</span></td>
    <td class="tg-c3ow"></td>
    <td class="tg-aq4l"><span style="font-weight:normal;color:#000">37</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">11.09</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">12.09</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">13.09</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">14.09</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">15.09</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">16.09</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">17.09</span></td>
  </tr>
  <tr>
    <td class="tg-aq4l"><span style="font-weight:normal;color:#000">12</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">20.03</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">21.03</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">22.03</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">23.03</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">24.03</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">25.03</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">26.03</span></td>
    <td class="tg-c3ow"></td>
    <td class="tg-aq4l"><span style="font-weight:normal;color:#000">38</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">18.09</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">19.09</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">20.09</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">21.09</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">22.09</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">23.09</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">24.09</span></td>
  </tr>
  <tr>
    <td class="tg-aq4l"><span style="font-weight:normal;color:#000">13</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">27.03</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">28.03</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">29.03</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">30.03</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">31.03</span></td>
    <td class="tg-c4ww"><span style="font-weight:normal;font-style:normal;color:#000">01.04</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">02.04</span></td>
    <td class="tg-c3ow"></td>
    <td class="tg-aq4l"><span style="font-weight:normal;color:#000">39</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">25.09</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">26.09</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">27.09</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">28.09</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">29.09</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">30.09</span></td>
    <td class="tg-c4ww"><span style="font-weight:normal;font-style:normal;color:#000">01.10</span></td>
  </tr>
  <tr>
    <td class="tg-sxzk" colspan="8">Vår og forsommer</td>
    <td class="tg-c3ow"></td>
    <td class="tg-sxzk" colspan="8">Høst og jul</td>
  </tr>
  <tr>
    <td class="tg-aq4l"><span style="font-weight:normal;color:#000">14</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">03.04</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">04.04</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">05.04</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">06.04</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">07.04</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">08.04</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">09.04</span></td>
    <td class="tg-c3ow"></td>
    <td class="tg-z9kx"><span style="font-weight:normal">40</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">02.10</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">03.10</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">04.10</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">05.10</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">06.10</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">07.10</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">08.10</span></td>
  </tr>
  <tr>
    <td class="tg-aq4l"><span style="font-weight:normal;color:#000">15</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">10.04</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">11.04</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">12.04</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">13.04</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">14.04</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">15.04</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">16.04</span></td>
    <td class="tg-c3ow"></td>
    <td class="tg-z9kx"><span style="font-weight:normal">41</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">09.10</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">10.10</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">11.10</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">12.10</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">13.10</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">14.10</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">15.10</span></td>
  </tr>
  <tr>
    <td class="tg-aq4l"><span style="font-weight:normal;color:#000">16</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">17.04</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">18.04</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">19.04</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">20.04</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">21.04</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">22.04</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">23.04</span></td>
    <td class="tg-c3ow"></td>
    <td class="tg-z9kx"><span style="font-weight:normal">42</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">16.10</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">17.10</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">18.10</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">19.10</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">20.10</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">21.10</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">22.10</span></td>
  </tr>
  <tr>
    <td class="tg-aq4l"><span style="font-weight:normal;color:#000">17</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">24.04</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">25.04</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">26.04</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">27.04</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">28.04</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">29.04</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">30.04</span></td>
    <td class="tg-c3ow"></td>
    <td class="tg-z9kx"><span style="font-weight:normal">43</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">23.10</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">24.10</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">25.10</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">26.10</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">27.10</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">28.10</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">29.10</span></td>
  </tr>
  <tr>
    <td class="tg-aq4l"><span style="font-weight:normal;color:#000">18</span></td>
    <td class="tg-c4ww"><span style="font-weight:normal;font-style:normal;color:#000">01.05</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">02.05</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">03.05</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">04.05</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">05.05</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">06.05</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">07.05</span></td>
    <td class="tg-c3ow"></td>
    <td class="tg-z9kx"><span style="font-weight:normal">44</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">30.10</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">31.10</span></td>
    <td class="tg-c4ww"><span style="font-weight:normal;font-style:normal;color:#000">01.11</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">02.11</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">03.11</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">04.11</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">05.11</span></td>
  </tr>
  <tr>
    <td class="tg-aq4l"><span style="font-weight:normal;color:#000">19</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">08.05</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">09.05</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">10.05</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">11.05</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">12.05</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">13.05</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">14.05</span></td>
    <td class="tg-c3ow"></td>
    <td class="tg-z9kx"><span style="font-weight:normal">45</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">06.11</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">07.11</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">08.11</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">09.11</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">10.11</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">11.11</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">12.11</span></td>
  </tr>
  <tr>
    <td class="tg-aq4l"><span style="font-weight:normal;color:#000">20</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">15.05</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">16.05</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">17.05</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">18.05</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">19.05</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">20.05</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">21.05</span></td>
    <td class="tg-c3ow"></td>
    <td class="tg-z9kx"><span style="font-weight:normal">46</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">13.11</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">14.11</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">15.11</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">16.11</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">17.11</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">18.11</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">19.11</span></td>
  </tr>
  <tr>
    <td class="tg-aq4l"><span style="font-weight:normal;color:#000">21</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">22.05</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">23.05</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">24.05</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">25.05</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">26.05</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">27.05</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">28.05</span></td>
    <td class="tg-c3ow"></td>
    <td class="tg-z9kx"><span style="font-weight:normal">47</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">20.11</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">21.11</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">22.11</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">23.11</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">24.11</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">25.11</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">26.11</span></td>
  </tr>
  <tr>
    <td class="tg-aq4l"><span style="font-weight:normal;color:#000">22</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">29.05</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">30.05</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">31.05</span></td>
    <td class="tg-c4ww"><span style="font-weight:normal;font-style:normal;color:#000">01.06</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">02.06</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">03.06</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">04.06</span></td>
    <td class="tg-c3ow"></td>
    <td class="tg-z9kx"><span style="font-weight:normal">48</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">27.11</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">28.11</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">29.11</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">30.11</span></td>
    <td class="tg-c4ww"><span style="font-weight:normal;font-style:normal;color:#000">01.12</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">02.12</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">03.12</span></td>
  </tr>
  <tr>
    <td class="tg-aq4l"><span style="font-weight:normal;color:#000">23</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">05.06</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">06.06</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">07.06</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">08.06</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">09.06</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">10.06</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">11.06</span></td>
    <td class="tg-c3ow"></td>
    <td class="tg-z9kx"><span style="font-weight:normal">49</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">04.12</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">05.12</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">06.12</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">07.12</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">08.12</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">09.12</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">10.12</span></td>
  </tr>
  <tr>
    <td class="tg-aq4l"><span style="font-weight:normal;color:#000">24</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">12.06</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">13.06</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">14.06</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">15.06</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">16.06</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">17.06</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">18.06</span></td>
    <td class="tg-c3ow"></td>
    <td class="tg-z9kx"><span style="font-weight:normal">50</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">11.12</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">12.12</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">13.12</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">14.12</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">15.12</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">16.12</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">17.12</span></td>
  </tr>
  <tr>
    <td class="tg-aq4l"><span style="font-weight:normal;color:#000">25</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">19.06</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">20.06</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">21.06</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">22.06</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">23.06</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">24.06</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">25.06</span></td>
    <td class="tg-c3ow"></td>
    <td class="tg-z9kx"><span style="font-weight:normal">51</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">18.12</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">19.12</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">20.12</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">21.12</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">22.12</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">23.12</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">24.12</span></td>
  </tr>
  <tr>
    <td class="tg-aq4l"><span style="font-weight:normal;color:#000">26</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">26.06</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">27.06</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">28.06</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">29.06</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">30.06</span></td>
    <td class="tg-c4ww"><span style="font-weight:normal;font-style:normal;color:#000">01.07</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">02.07</span></td>
    <td class="tg-c3ow"></td>
    <td class="tg-z9kx"><span style="font-weight:normal">52</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">25.12</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">26.12</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">27.12</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">28.12</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">29.12</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">30.12</span></td>
    <td class="tg-c3ow"><span style="font-weight:normal;font-style:normal;color:#000">31.12</span></td>
  </tr>
</tbody>
</table>