<style type="text/css">
.tg  {border-collapse:collapse;border-color:#9ABAD9;border-spacing:0;}
.tg td{background-color:#EBF5FF;border-color:#9ABAD9;border-style:solid;border-width:0px;color:#444;
  font-family:Arial, sans-serif;font-size:14px;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg th{background-color:#409cff;border-color:#9ABAD9;border-style:solid;border-width:0px;color:#fff;
  font-family:Arial, sans-serif;font-size:14px;font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tg-0pky{border-color:inherit;text-align:left;vertical-align:top}
.tg .tg-0lax{text-align:left;vertical-align:top}
</style>
<table align="right" class="tg">
<thead>
  <tr>
    <th class="tg-0pky">Lydklipp</th>
    <th class="tg-0lax">Avspilling i nettleser
</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td class="tg-0pky">Introduksjon (vignett)</td>
    <td class="tg-0lax"><audio controls>
  <source src="intro.mp3" type="audio/mp3">
Nettleseren din støtter ikke dette elementet.
</audio>
</td>
  </tr>
  <tr>
    <td class="tg-0lax">Introduksjon av paneldeltaker</td>
    <td class="tg-0lax"><audio controls>
  <source src="introdusere person.mp3" type="audio/mp3">
Nettleseren din støtter ikke dette elementet.
</audio>
</td>
  </tr>
  <tr>
    <td class="tg-0lax">Oppgave løst</td>
    <td class="tg-0lax"><audio controls>
  <source src="oppgave løst.mp3" type="audio/mp3">
Nettleseren din støtter ikke dette elementet.
</audio>
</td>
  </tr>
  <tr>
    <td class="tg-0lax">Fanfare (innsender får spill)</td>
    <td class="tg-0lax"><audio controls>
  <source src="fanfare.mp3" type="audio/mp3">
Nettleseren din støtter ikke dette elementet.
</audio>
</td>
  </tr>
</tbody>
</table>
