<div class="row">
  <div class="col-4">
    <div class="list-group" id="list-tab" role="tablist">
      <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list" href="#top" role="tab" aria-controls="home"><b>Velg reisemåte</b></a>
      <a class="list-group-item list-group-item-action" id="list-home-list" data-toggle="list" href="#publictransport" role="tab" aria-controls="home">Kollektivtransport</a>
      <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" href="#cycle" role="tab" aria-controls="profile">Sykle eller sparkesykkel</a>
      <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list" href="#walk" role="tab" aria-controls="messages">Gange</a>
      <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="#cab" role="tab" aria-controls="settings">Drosje</a>
      <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="#drive" role="tab" aria-controls="settings">Kjører selv med bil</a>
      <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="#waterway" role="tab" aria-controls="settings">Kajakk, SUP, mv.</a>
      <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="#map" role="tab" aria-controls="settings">Kart og kompass</a>
    </div>
  </div>
  <div class="col-8">
    <div class="tab-content" id="nav-tabContent">
      <div class="tab-pane fade show active" id="top" role="tabpanel" aria-labelledby="list-home-list">...</div>
      <div class="tab-pane fade" id="publictransport" role="tabpanel" aria-labelledby="list-profile-list">...</div>
      <div class="tab-pane fade" id="cycle" role="tabpanel" aria-labelledby="list-messages-list">...</div>
      <div class="tab-pane fade" id="walk" role="tabpanel" aria-labelledby="list-settings-list">...</div>
      <div class="tab-pane fade" id="cab" role="tabpanel" aria-labelledby="list-settings-list">...</div>
      <div class="tab-pane fade" id="drive" role="tabpanel" aria-labelledby="list-settings-list">...</div>
      <div class="tab-pane fade" id="waterway" role="tabpanel" aria-labelledby="list-settings-list">...</div>
      <div class="tab-pane fade" id="map" role="tabpanel" aria-labelledby="list-settings-list">...</div>
    </div>
  </div>
</div>

<hr>Kollektivt

<div class="row">
  <div class="col-4">
    <div class="list-group" id="list-tab" role="tablist">
      <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="home"><b>Velg ankomstmåte</b></a>
      <a class="list-group-item list-group-item-action" id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="home">Fly</a>
      <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" href="#list-profile" role="tab" aria-controls="profile">Tog</a>
      <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list" href="#list-messages" role="tab" aria-controls="messages">Ekspressbuss</a>
      <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="#list-settings" role="tab" aria-controls="settings">Ferje og passasjerbåt</a>
      <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="#list-settings" role="tab" aria-controls="settings">Holdeplasstabell</a>
      <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="#list-settings" role="tab" aria-controls="settings">Sanntidstavler</a>
    </div>
  </div>
  <div class="col-8">
    <div class="tab-content" id="nav-tabContent">
      <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">...</div>
      <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">...</div>
      <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">...</div>
      <div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list">...</div>
    </div>
  </div>
</div>

<hr>Oslo lufthavn

<div class="row">
  <div class="col-4">
    <div class="list-group" id="list-tab" role="tablist">
      <a class="list-group-item list-group-item-action active" id="top" data-toggle="list" href="#list-home" role="tab" aria-controls="home"><b>Velg hvor du lander</b></a>
      <a class="list-group-item list-group-item-action" id="osl" href="../visit-osl" role="tab" aria-controls="home">Oslo lufthavn, Gardermoen</a>
      <a class="list-group-item list-group-item-action" id="trf" href="../visit-torp" role="tab" aria-controls="profile">Sandefjord lufthavn, Torp</a>
      <a class="list-group-item list-group-item-action" id="kjeller" href="../visit-kjeller" role="tab" aria-controls="messages">Kjeller flyplass</a>
      <a class="list-group-item list-group-item-action" id="fornebu" href="../visit-fornebu" role="tab" aria-controls="settings">Oslo sjøflyplass, Fornebu</a>
      <a class="list-group-item list-group-item-action" id="lilloykilen" href="../visit-lilloykilen" role="tab" aria-controls="settings">Oslo sjøflyplass, Lilløykilen</a>
      <a class="list-group-item list-group-item-action" id="helikopter" href="../helikopter" role="tab" aria-controls="settings">Helikopterlandingsplasser</a>
    </div>
  </div>
  <div class="col-8">
    <div class="tab-content" id="nav-tabContent">
      <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">...</div>
      <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">...</div>
      <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">...</div>
      <div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list">...</div>
    </div>
  </div>
</div>