<p>
  <a class="btn btn-link" data-toggle="collapse" href="#bildelisenser" role="button" aria-expanded="false" aria-controls="bildelisenser">
    Informasjon om bildelisenser brukt på denne siden
  </a>
</p>
<div class="collapse" id="bildelisenser">
  <div class="card card-body">
<p>Bildet fra Computer History Museum er tatt av Carlo Nardone, lisensisert under Creative Commons Attribution-Share Alike 2.0 Generic. Se <a href="https://commons.wikimedia.org/wiki/File:Personal_computer_collection_rack_-_Computer_History_Museum_(2007-11-10_21.23.48_by_Carlo_Nardone).jpg">Commons</a>.</p>
<p>Bildet fra Cable Car Museum er tatt av Frank Schulenburg, lisensisert under Creative Commons Attribution-Share Alike 4.0 International. Se <a href="https://commons.wikimedia.org/wiki/File:San_Francisco_Cable_Car_Museum,_Powerhouse_(2016).jpg">Commons</a>.</p>
<p>Bildet fra Fry&rsquo;s Electronics er tatt av Qygen, lisensisert under Creative Commons Attribution-Share Alike 3.0 Unported license. Se <a href="https://commons.wikimedia.org/wiki/File:Fry%27s_electronics_phoenix_-_panoramio.jpg">Commons</a>.</p>
<p>Bildet fra Facebook-hovedkontoret er tatt av Minette Lontsie, lisensisert under Creative Commons Attribution-Share Alike 4.0 International lisence. Se <a href="https://commons.wikimedia.org/wiki/File:Facebook_Headquarters.jpg">Commons</a>.</p>
<p>Bildet fra Musée Mécanique er tatt av User:Piotrus, lisensisert under  Creative Commons Attribution-Share Alike 3.0 Unported, 2.5 Generic, 2.0 Generic and 1.0 Generic. Se <a href="https://commons.wikimedia.org/wiki/File:Mus%C3%A9e_M%C3%A9canique_003.JPG">Commons</a>.</p>
<p>Øvrige bilder er mitt eget verk og er lisensiert under <a href="https://creativecommons.org/licenses/by-sa/4.0/deed.en">Creative Commons Attribution ShareAlike 4.0 license</a>.</p>  
</div>
</div>