<!-- Øverste seksjon -->

<div class="row row-cols-1 row-cols-md-3 g-3">
  <div class="col">
  <a href="../visit" style="color:#ffffff">
    <div class="card bg-primary text-white">
      <div class="card-body">
        <h5 class="card-title">Bil eller drosje</h5>
        <p class="card-text">Veibeskrivelser, parkering for besøk og av- og pålessing, leiebil, drosjeselskaper og haiking. Trykk her for å gå tilbake.</p>
      </div>
      </a>
    </div>
  </div>
  <div class="col">
    <div class="card text-dark bg-light mb-3">
      <div class="card-body">
        <h5 class="card-title">Parkering for av- og pålessing</h5>
        <p class="card-text">Ivan Bjørndals gate er en privateid gate med flere parkeringslommer man kan stå på. Man kan stå gratis opp til en time,
        registering på automat eller app. </p>
      </div>
    </div>
        </a>
  </div>
  <div class="col">
    <div class="card text-dark bg-light mb-3">
      <div class="card-body">
        <h5 class="card-title">Parkering for besøk</h5>
        <p class="card-text">Opp til 4 timer gratis parkering i låst, innendørs og oppvarmet parkeringshus. Betaling utover dette på automat eller i app. Kontakt meg for detaljer.</p>
      </div>
    </div>
  </div>
      </a>
</div>

<hr>

<h3>Veibeskrivelser med bil</h3>

      <p>Disse veibeskrivelsene tar utgangspunkt at du er ukjent i Oslo, og følger
derfor de største veiene, selv om det nødvendigvis ikke er den absolutt mest
effektive.</p>
<p>Kommer fra nord på E6:</p>
<ul>
<li>Kjør mot Oslo. Følg skilting mot Ring 3/Rv 150 mot Sinsen.</li>
<li>Fortsett på Ring 3, og ta av mot Storo.</li>
<li>Ta til venstre, og følg veien nedover til du kommer til Sandaker.</li>
<li>Etter at du har passert Sagene brannstasjon, ta til høyre inn i Sandakerveien.</li>
<li>Etter at du har passert frisøren, ta til høyre inn i Ivan Bjørndals gate.</li>
<li>Min bolig er inn den første veien inn til blokkene. Parkering i området.</li>
</ul>
<p>Kommer fra nord på Rv4:</p>
<ul>
<li>Kjør mot Oslo. Følg skilting mot Ring 3/Rv 150 mot Smestad.</li>
<li>Fortsett på Ring 3, og ta av mot Storo.</li>
<li>Ta til venstre, og følg veien nedover til du kommer til Sandaker.</li>
<li>Etter at du har passert Sagene brannstasjon, ta til høyre inn i Sandakerveien.</li>
<li>Etter at du har passert frisøren, ta til høyre inn i Ivan Bjørndals gate.</li>
<li>Min bolig er inn den første veien inn til blokkene. Parkering i området.</li>
</ul>
<p>Kommer fra sørøst på E6 eller E18:</p>
<ul>
<li>Kjør mot Oslo. Der E18 og E6 fletter for å splittes igjen, følg E6.</li>
<li>Fortsett på Ring 3, og ta av mot Storo.</li>
<li>Ta til venstre, og følg veien nedover til du kommer til Sandaker.</li>
<li>Etter at du har passert Sagene brannstasjon, ta til høyre inn i Sandakerveien.</li>
<li>Etter at du har passert frisøren, ta til høyre inn i Ivan Bjørndals gate.</li>
<li>Min bolig er inn den første veien inn til blokkene. Parkering i området.</li>
</ul>
<p>Kommer fra sørvest på E18:</p>
<ul>
<li>Kjør mot Oslo. Følg skilting mot Ring 3/Rv 150 mot Smestad.</li>
<li>Fortsett på Ring 3, og ta av mot Storo.</li>
<li>Ta til høyre, og følg veien nedover til du kommer til Sandaker.</li>
<li>Etter at du har passert Sagene brannstasjon, ta til høyre inn i Sandakerveien.</li>
<li>Etter at du har passert frisøren, ta til høyre inn i Ivan Bjørndals gate.</li>
<li>Min bolig er inn den første veien inn til blokkene. Parkering i området.</li>
</ul>

<hr>

<h3>Leiebilaktører</h3>

 <p>Det finnes mange leiebilaktører i Oslo, men jeg anbefaler følgende:</p>
<ul>
<li>Tradisjonelle bilutleieselskaper: AVIS, Hertz, Europcar, Sixt.</li>
<li>MoveAbout tilbyr elbiler på timesbasis, blant annet på Oslo S, Filipstad og andre steder i byen.</li>
<li>Vybil tilbyr elbiler på minuttbasis, som kan parkeres
på offentlige parkeringsplasser.</li>
<li>Hertz BilPool og Hyre tilbyr alle slags biler på timesbasis, mange steder i Oslo.</li>
<li>Getaround er et nettsted hvor privatpersoner leier ut bilene sine.
Sikkert en god del biler i nærheten.</li>
</ul>

<hr>

<h3>Drosjebiler</h3>

      <p>Det finnes mange drosjeselskaper i Oslo. Noen tilbyr også apper.</p>
<ul>
<li><a href="https://www.uber.com/global/nb/cities/oslo/">Uber <sup><i class="fas fa-external-link-alt"></i></sup></a>, bestilling i app eller
på nettsiden.</li>
<li><a href="https://www.viggo.com/nb/">Viggo<sup><i class="fas fa-external-link-alt"></i></sup></a>, bestilling i app.</li>
<li><a href="https://www.oslotaxi.no/bestilling">Oslo Taxi <sup><i class="fas fa-external-link-alt"></i></sup></a>, tilbyr app, bestilling på
telefon: <a href="tel:22388090">22 38 80 90</a>.</li>
<li><a href="https://www.norgestaxi.no/oslo">NorgesTaxi <sup><i class="fas fa-external-link-alt"></i></sup></a>, tilbyr app, bestilling på
telefon: <a href="tel:91008000">910 08 000</a>.</li>
<li><a href="https://02365.no/">Christiania Taxi <sup><i class="fas fa-external-link-alt"></i></sup></a>, tilbyr app, bestilling på telefon:
<a href="tel:22578000">22 57 80 00</a>.</li>
<li><a href="https://www.0-taxi.no/">0-TAXI <sup><i class="fas fa-external-link-alt"></i></sup></a>, tilbyr app, bestilling på telefon:
<a href="tel:46008294">460 08 294</a>.</li>
</ul>
