<div class="row row-cols-1 row-cols-md-3 g-3">
  <div class="col">
<a href="../visit-publictransport" style="color: #000000">
    <div class="card text-dark bg-light mb-3">
      <div class="card-body">
        <h5 class="card-title">Kollektivtransport</h5>
        <p class="card-text">Reiseplanleggere, buss, trikk, t-bane, båt, fly, billetter.</p>
      </div>
    </div>
    </a>
  </div>
  <div class="col">
  <a href="walkandcycle" style="color: #000000">
    <div class="card text-dark bg-light mb-3">
      <div class="card-body">
        <h5 class="card-title">Gå eller sykle</h5>
        <p class="card-text">Anbefalte gåturer, sykkelruter, parkering for sykler, Oslo Bysykkel og sparkesykkelutleie</p>
      </div>
    </div>
        </a>
  </div>
  <div class="col">
  <a href="carorcab" style="color: #000000">
    <div class="card text-dark bg-light mb-3">
      <div class="card-body">
        <h5 class="card-title">Bil eller drosje</h5>
        <p class="card-text">Veibeskrivelser, parkering for besøk og av- og pålessing, leiebil, drosjeselskaper og haiking.</p>
      </div>
    </div>
  </div>
      </a>
</div>
<br>
<div class="row row-cols-1 row-cols-md-3 g-3">
  <div class="col">
  <a href="mapandcompass" style="color: #000000">
    <div class="card text-dark bg-light mb-3">
      <div class="card-body">
        <h5 class="card-title">Kart og kompass</h5>
        <p class="card-text">Slå opp i over 10 populære karttjenester for å finne frem, bruke veibeskrivelser og se koordinater.</p>
      </div>
    </div>
    </a>
  </div>
  <div class="col">
  <a href="waterway" style="color: #000000">
    <div class="card text-dark bg-light mb-3">
      <div class="card-body">
        <h5 class="card-title">Kajakk, SUP og andre vannfartøy</h5>
        <p class="card-text">Les om nærmeste elv, hvor du trygt kan fortøye vannfartøyet og hvor du skal navigere. </p>
      </div>
    </div>
    </a>
  </div>
  <div class="col">
  <a href="https://w3w.co/skjerpe.flate.morsmål" style="color: #000000">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">what3words <sup><i class="fas fa-external-link-alt"></i></sup></h5>
        <p class="card-text"><a href="https://w3w.co/skjerpe.flate.morsmål">///skjerpe.flate.morsmål</a><br> <br> <br> </p>
      </div>
    </div>
    </a>
  </div>
</div>