{{/* collapse-arrow shortcode: usage {{< collapse-arrow id="unique" label="Text" >}}Inner{{< /collapse-arrow >}} */}}
{{ $id := .Get "id" | default (printf "collapse-%d" .Ordinal) }}
<p>
  <a href="#{{$id}}" class="text-primary" data-toggle="collapse" aria-expanded="false" aria-controls="{{$id}}">
    <i class="fas fa-arrow-right" id="{{$id}}-icon"></i> {{ .Get "label" }}
  </a>
</p>
<div class="collapse" id="{{$id}}">
  <div class="card card-body">
    {{ .Inner }}
  </div>
</div>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    var collapseElement = document.getElementById('{{ $id }}');
    var iconElement = document.getElementById('{{ $id }}-icon');
    collapseElement.addEventListener('show.bs.collapse', function () {
      iconElement.classList.remove('fa-arrow-right');
      iconElement.classList.add('fa-arrow-down');
    });
    collapseElement.addEventListener('hide.bs.collapse', function () {
      iconElement.classList.remove('fa-arrow-down');
      iconElement.classList.add('fa-arrow-right');
    });
  });
</script>
