<!DOCType HTML>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
<hr>
    <h1 id="target">Laster inn ...</h1>
    <h2 id="prev-target">Hvis det ikke skjer noe på noen sekunder,<br>har du sannsynligvis ikke internett lengre.</h2>
  <script type="text/javascript">
    const target = document.getElementById("target");
    const prevTarget = document.getElementById("prev-target");
    const interval = 30;

    fetch("https://worldtimeapi.org/api/timezone/Etc/UTC")
      .then(res => res.json())
      .then(res => {
        const secondsSinceEpoch = res.unixtime;
        const code = Math.floor(secondsSinceEpoch / interval) * 7919357;
        const prevCode = Math.floor(secondsSinceEpoch / interval - 1) * 7919357;
        target.innerHTML = "Nåværende kode: " + code.toString().slice(-6);
        prevTarget.innerHTML = "Forrige kode: " + prevCode.toString().slice(-6);
      })
      .catch(() => target.innerHTML = "Du har ikke internett");
  </script>
  
<hr>
</body>

</html>
