<form method="POST" action="https://www.domeneshop.no/cgi-bin/mailto.cgi" accept-charset="ISO-8859-1">
<input type="hidden" name="_to" value="feedback@pdog.no">
<input type="hidden" name="_from" value="feedback@pdog.no">
<input type="hidden" name="_subject" value="Påmelding lanseringsfest">
<input type="hidden" name="_resulturl"
value="http://pdog.no/skjemasvar">

<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="epost-addon">Din e-postadresse</span>
  </div>
  <input type="text" name="epost" class="form-control" placeholder="eksempel@pdog.no" aria-label="Username" aria-describedby="epost-addon">
</div>

<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="tid-gjest-addon">Når kommer du og hvem tar du med deg?</span>
  </div>
  <input type="text" name="epost" class="form-control" placeholder="Fredag, tar med meg bikkja!" aria-label="Username" aria-describedby="tid-gjest-addon">
</div>
  <button type="submit" class="btn btn-primary">Let's Party!</button>
</form>
