<div class="table-responsive">
  <table class="table table-hover" id="findmaps">
    <thead>
      <tr>
        <th>Tegnet kart</th>
        <th>Flyfoto</th>
        <th>Hybrid</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><a
            href="https://kart.finn.no?lng=10.764831105481&lat=59.937524104837&zoom=17&mapType=normap&WT.mc_id=hp_map_cb&title=Ivan%20Bj%C3%B8rndals%20gate%206&showPin=true"><img
              style="border: 0;" title="Klikk for st&oslash;rre kart"
              src="https://kart.finn.no/map/image?lat=59.93752&lng=10.76483&mapType=&height=250&width=250&zoom=17&title=Ivan+Bj%C3%B8rndals+gate+6&showPin=on&key=0e041327cc3349947f1868a0f4bfa7a1"></a>
        </td>
        <td> <a
            href="https://kart.finn.no?lng=10.764831105481&lat=59.937524104837&zoom=17&mapType=norortho&WT.mc_id=hp_map_cb&title=Ivan%20Bj%C3%B8rndals%20gate%206&showPin=true"><img
              style="border: 0;" title="Klikk for st&oslash;rre kart"
              src="https://kart.finn.no/map/image?lat=59.93752&lng=10.76483&mapType=norwayOrtho&height=250&width=250&zoom=17&title=Ivan+Bj%C3%B8rndals+gate+6&showPin=on&key=0e041327cc3349947f1868a0f4bfa7a1"></a>
        </td>
        <td><a
            href="https://kart.finn.no?lng=10.764831105481&lat=59.937524104837&zoom=17&mapType=norhybrid&WT.mc_id=hp_map_cb&title=Ivan%20Bj%C3%B8rndals%20gate%206&showPin=true"><img
              style="border: 0;" title="Klikk for st&oslash;rre kart"
              src="https://kart.finn.no/map/image?lat=59.93752&lng=10.76483&mapType=norwayHybrid&height=250&width=250&zoom=17&title=Ivan+Bj%C3%B8rndals+gate+6&showPin=on&key=0e041327cc3349947f1868a0f4bfa7a1"></a>
        </td>
      </tr>
  </table>
</div>

<a href="https://kart.finn.no/?lng=10.76466&lat=59.93754&zoom=17&mapType=normap&markers=10.76466,59.93754,r,Ivan+Bjørndals+gate+6%7C10.76466,59.93754,r,Ivan+Bjørndals+gate%7C10.76466,59.93754,r,Ivan+Bjørndals+gate+6"
  class="btn btn-secondary" target="_blank">Gå til kartet på finn.no</a>
