<div class="card-deck">
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="../petter2.jpeg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Velkommen!</h5>
    <p class="card-text">Jeg heter Petter (kallenavn P-Dog) og dette er min personlige nettside. Du finner informasjon om hvordan du kontakter meg, reisebeskrivelser til boligen min og informasjon om enkeltpersonsforetaket mitt. Jeg skriver også noen artikler om teknologi. I tillegg legger jeg ut andre ting jeg har samlet opp gjennom årene.</p>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="../fasttelefon.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Kontaktinformasjon</h5>
    <p class="card-text">Ta gjerne kontakt hvis du lurer på noe!</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><b>E-post:</b> <a href="mailto:hei@pdog.no">hei@pdog.no</a></li>
    <li class="list-group-item"><b>Telefon:</b> <a href="tel:+4792696496">+47&nbsp;926&nbsp;96&nbsp;496</a></li>
    <li class="list-group-item"><b>Postadresse:</b><br>Petter Holstad<br>Ivan Bjørndals gate 6<br>0472 Oslo</li>
  </ul>
  <div class="card-body">
    <a href="../kontaktinfo" class="btn btn-primary btn-sm">Se fullstendig kontaktinfo</a>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="../blokka.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Besøk</h5>
    <p class="card-text">Hvis du enten du bare skal hente noe på Finn.no, eller du kommer på overnattingsbesøk, finner du all informasjon om alle mulige transportmidler til meg på sidene under. </p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><a href="visit/kartogkompass">Kart og kompass</a></li>    
    <li class="list-group-item"><a href="visit/hjulinger">Gå, sykle eller sparkesykle</a></li>
    <li class="list-group-item"><a href="visit/kollektivt">Kollektivtrafikk</a></li>
    <li class="list-group-item"><a href="visit/motor">Bil eller drosje</a></li>
  </ul>
</div>
</div>
