<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h3 class="display-4">Hva er Geoguessr?</h3>
    <p class="lead">GeoGuessr er et internettbasert spill hvor du slippes på et punkt ved hjelp av Google Street View. Du skal finne ut hvor du er på Google Maps, og du får poeng for hvor nærme du havner. Det “vanlige” spillet er å bli sluppet hvor som helst på et forhåndsdefinert område, og da er det opp til deg å finne ledetråder som …</p>

<p class="lead">
<ul>
<li>geografiske store funksjoner som fjell, vann, hav, landtype</li>
<li>språk på skilt og plakater, for å utelukke en rekke land det neppe er</li>
<li>antatt etnesintet på mennesker for å lande verdensdel</li>
<li>informasjon om toppnivådomener, internasjonale telefonnumre, forkortelser på selskapstyper</li>
<li>veimerking og veiskilt, som ofte er nasjonalt bestemt</li>
<li>veinummer, som ofte kan plassere deg et bestemt sted i et land</li>
<li>skilt som rett og slett sier hvor du er</li>
</ul>
</p>

<p>Brukere kan også lage egne kart. Da kan man enten definere et område, eller velge punkter. Det er sistnevnte som er brukt i disse kartene som beskrives på denne siden.</p>

<p>En gratisbruker kan bare spille ett spill per dag (5 runder), men har du premium kan du spille ubegrenset. Det koster 23,88 USD for ett år.</p>

</p>
  </div>
</div>