<object align="right">
<div class="card" style="width: 40rem;">
  <div class="card-body">
  <img class="padding" src="gtd.jpg" width="200" align="right">
    <h5 class="card-title">Dette er en del av en artikkelserie om David Allens produktivitetsmetodikk</h5>
    <p class="card-text"><i>Få ting gjort!</i> er navnet både på en bok og en metode som beskriver beste praksis for å øke
produktivteten, senke stressnivået og rett og slett få flere ting gjort. Det er en klar fordel
å ha lest boken og være kjent med metoden før du leser denne artikkelen, men den kan også ha en
viss effekt utenom også.
<a href="https://vitallearning.no/produktkategori/fysiske-produkter/boker/">
Kjøp boken på nettbutikken til Vital Learning Norge. <sup><i class="fas fa-external-link-alt"></i></sup></a>
</p>

  </div>
</div>
<style>  
object {  
  padding-left: 25px;  
}

img.padding {
	padding-left: 10px
}
</style>
</object>

