<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  overflow:hidden;padding:10px 5px;word-break:normal;}
.tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tg-0lax{text-align:left;vertical-align:top}
</style>
<table class="tg">
<thead>
  <tr>
    <th class="tg-0lax">Jernbanelinje</th>
    <th class="tg-0lax">Linjer</th>
    <th class="tg-0lax">Gå av på stasjon</th>
    <th class="tg-0lax">Videre reise</th>
    <th class="tg-0lax">Endeholdeplass</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td class="tg-0lax" rowspan="2">Gjøvikbanen</td>
    <td class="tg-0lax"><div class="d-flex flex-wrap"><div class="rute tog"><i class="fas fa-train"></i>&nbsp;R30 fra Gjøvik</div></div></td>
    <td class="tg-0lax" rowspan="2">Grefsen stasjon (tog)</td>
    <td class="tg-0lax" rowspan="2">Gå under Ring 3 (den store veien) og ta trikk <div class="d-flex flex-wrap"><div class="rute tram"><i class="fas fa-train"></i>&nbsp;18 mot Rikshospitalet.</div></div></td>
    <td class="tg-0lax" rowspan="2">Sandaker senter</td>
  </tr>
  <tr>
    <td class="tg-0lax"><div class="d-flex flex-wrap"><div class="rute tog"><i class="fas fa-train"></i>&nbsp;L3 fra Jaren</div></div></td>
  </tr>
</tbody>
</table>

<p>	<div class="d-flex flex-wrap">
		<div class="rute tog"><i class="fas fa-train"></i>&nbsp;R30 fra Gjøvik</div><br>
		<div class="rute tog"><i class="fas fa-train"></i>&nbsp;L3 fra Jaren</div></div>
		
<div class="d-flex flex-wrap">
Gå av på Grefsen stasjon (tog). Gå under Ring 3 for å komme til Grefsen stasjon (trikk) og ta <div class="rute tram">  <i class="fas fa-train"></i>&nbsp;18 til Rikshospitalet</div> til Sandaker senter. </div>
</p>
<h5>Alle andre tog som stopper på Nationaltheateret</h5>
<p>Denne stasjonen er mindre trafikkert enn Oslo S, i tillegg til at trikk og buss også er mindre full. Derfor anbefaler jeg denne stasjonen om man kan.
Gå ut utgang mot Karl Johans gate, og ta buss eller trikk fra Nationaltheateret:</p>
<div class="d-flex flex-wrap"><div class="rute bybuss"><i class="fas fa-bus"></i>&nbsp;54 mot Kjelsås stasjon</div> med avstigning på Arendalsgata.</div>
<div class="d-flex flex-wrap"><div class="rute tram">  <i class="fas fa-train"></i>&nbsp;11 mot Kjelsås</div> med avstigning på Sandaker senter.
</div>
<br>
<h5>Alle andre tog, eller hvis veldig seint</h5>
<p>Gå av på Oslo sentralstasjon og ta buss eller trikk videre.</p>

<div class="d-flex flex-wrap"><div class="rute bybuss"><i class="fas fa-bus"></i>&nbsp;54 mot Kjelsås stasjon</div> med avstigning Arendalsgata.</div>
<div class="d-flex flex-wrap"><div class="rute tram">  <i class="fas fa-train"></i>&nbsp;11 mot Kjelsås</div> med avstigning Sandaker senter.</div>
<div class="d-flex flex-wrap"><div class="rute tram">  <i class="fas fa-train"></i>&nbsp;12 mot Kjelsås</div> med avstigning Sandaker senter.</div>
</div>
</div>
</div>
</div>

<hr id="air">

<h4>Ankomst med fly</h4>

<h5>Oslo lufthavn, Gardermoen (OSL) </h5>
<div class="d-flex flex-wrap">Du kommer deg helt frem med Flybussens rute
<div class="rute flybuss"><i class="fas fa-bus"></i>&nbsp;FB1 mot Majorstuen</div>med avstigning enten Torshov eller Arendalsgata.</div>

<p>
<div class="d-flex flex-wrap"> Du kan også ta tog:<div class="rute tog"><i class="fas fa-train"></i>&nbsp;R10 mot Skien</div>
<div class="rute tog"><i class="fas fa-train"></i>&nbsp;R12 mot Kongsberg</div></div> Følg deretter <a href="#train">Ankomst med tog</a>.</p>

<br>
<h5>Sandefjord lufthavn, Torp (TRF)</h5>

<div class="d-flex flex-wrap">
<i>Flybuss: </i>
<div class="rute flybuss"><i class="fas fa-bus"></i>&nbsp;F25 mot Oslo</div> og gå av på Oslo bussterminal.</div></p>
<i>Tog:</i>
Det går en matebuss mellom lufthavnen og togavgangene. Ta deretter 
<div class="d-flex flex-wrap">
<div class="rute tog"><i class="fas fa-train"></i>&nbsp;R11 mot Eidsvoll</div> og gå av på enten Nationaltheateret eller Oslo S, følg deretter "Ankomst med tog".
</div>
      </div>
    </div>
  </div>