<!-- Øverste seksjon -->

<div class="row row-cols-1 row-cols-md-3 g-3">
  <div class="col">
  <a href=".." style="color:#ffffff">
    <div class="card bg-primary text-white">
      <div class="card-body">
        <h5 class="card-title">Kollektivt</h5>
        <p class="card-text">Få reiseforslag hvis reiser internt i Oslo, eller kommer med fly, tog, ekspressbuss eller passasjerbåt.</p>
      </div>
      </a>
    </div>
  </div>
  <div class="col">
  <a href="walkandcycle" style="color: #000000">
    <div class="card text-dark bg-light mb-3">
      <div class="card-body">
        <img align="right" width=50 src="https://scontent.fosl1-1.fna.fbcdn.net/v/t31.18172-8/22792268_1965448553693810_7044468467923345222_o.jpg?_nc_cat=103&ccb=1-5&_nc_sid=09cbfe&_nc_ohc=1AocjAmN9BMAX_Skhof&_nc_ht=scontent.fosl1-1.fna&oh=00_AT9rkLk6XVqsw6cfc1Jro1lBpoILjZtkMIEQpN3_UrWVQQ&oe=62812E24">
        <h5 class="card-title">Enturs søkemotor</h5>
        <p class="card-text">Søkemotor for all kollekivtrafikk i Norge, mulighet til å kjøpe billett direkte for flere selskaper. Trykk på boksen for å gå til nettsiden.</p>
      </div>
    </div>
        </a>
  </div>
  <div class="col">
  <a href="carorcab" style="color: #000000">
    <div class="card text-dark bg-light mb-3">
      <div class="card-body">
              <img align="right" width=50 src="https://resources.mynewsdesk.com/image/upload/t_small_face_square_v2,dpr_2.0/iihukz02bjuymd2dpdyp.jpg">
        <h5 class="card-title">Ruters søkemotor</h5>
        <p class="card-text">Veibeskrivelser, parkering for besøk og av- og pålessing, leiebil, drosjeselskaper og haiking.</p>
      </div>
    </div>
  </div>
      </a>
</div>

<hr id="train">

<h3>Ankomst med tog</h3>

<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  overflow:hidden;padding:10px 5px;word-break:normal;}
.tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tg-cly1{text-align:left;vertical-align:middle}
.tg .tg-yla0{font-weight:bold;text-align:left;vertical-align:middle}
</style>
<table class="tg" style="undefined;table-layout: fixed; width: 914px">
<colgroup>
<col style="width: 138px">
<col style="width: 100px">
<col style="width: 172px">
<col style="width: 220px">
<col style="width: 166px">
<col style="width: 118px">
</colgroup>
<thead>
  <tr>
    <th class="tg-yla0">Jernbanelinje</th>
    <th class="tg-yla0">Linjer</th>
    <th class="tg-yla0">Ved stasjonen</th>
    <th class="tg-yla0">Holdeplass</th>
    <th class="tg-yla0"><span style="font-weight:bold">Videre korrespondanse</span></th>
    <th class="tg-yla0">Endeholdeplass</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td class="tg-cly1" rowspan="2"><span style="font-weight:bold">Gjøvikbanen</span><br>Gå av på <br>Grefsenstasjon (tog)</td>
    <td class="tg-cly1">R30 fra Gjøvik</td>
    <td class="tg-cly1" rowspan="2">Gå under den store<br>veien (Ring 3).</td>
    <td class="tg-cly1" rowspan="2">Grefsen stasjon (trikk).</td>
    <td class="tg-cly1" rowspan="2"><span style="font-weight:400;font-style:normal;text-decoration:none">18 mot Rikshospitalet</span></td>
    <td class="tg-cly1" rowspan="2">Sandaker senter</td>
  </tr>
  <tr>
    <td class="tg-cly1">L3 fra Jaren</td>
  </tr>
  <tr>
    <td class="tg-yla0" colspan="2" rowspan="2">Alle tog som stopper på<br>Nationaltheateret (tog)</td>
    <td class="tg-cly1" rowspan="2">Følg utgang Karl Johans gate.</td>
    <td class="tg-cly1">Nationaltheateret (trikk).<br></td>
    <td class="tg-cly1">11 mot Kjelsås</td>
    <td class="tg-cly1">Sandaker Senter</td>
  </tr>
  <tr>
    <td class="tg-cly1">Nationaltheateret (buss)</td>
    <td class="tg-cly1">54 mot Kjelsås stasjon</td>
    <td class="tg-cly1">Arendalsgata</td>
  </tr>
  <tr>
    <td class="tg-yla0" colspan="2" rowspan="5">Hvis toget ikke stopper<br>på Nationaltheateret, eller<br>det er veldig tidlig <br>eller veldig seint</td>
    <td class="tg-cly1" rowspan="5">Følg utgang mot Jernbanetorget.</td>
    <td class="tg-cly1"><span style="font-weight:400;font-style:normal;text-decoration:none">Jernbanetorget (trikk) plattform C</span></td>
    <td class="tg-cly1">11 mot Kjelsås</td>
    <td class="tg-cly1">Sandaker senter</td>
  </tr>
  <tr>
    <td class="tg-cly1">Jernbanetorget (trikk) plattform C</td>
    <td class="tg-cly1">12 mot Kjelsås</td>
    <td class="tg-cly1"><span style="font-weight:400;font-style:normal;text-decoration:none">Sandaker senter</span></td>
  </tr>
  <tr>
    <td class="tg-cly1"><span style="font-weight:400;font-style:normal;text-decoration:none">Jernbanetorget (trikk) plattform E</span></td>
    <td class="tg-cly1">18 mot Storo-Grefsen st.</td>
    <td class="tg-cly1"><span style="font-weight:400;font-style:normal;text-decoration:none">Sandaker senter</span></td>
  </tr>
  <tr>
    <td class="tg-cly1">Jernbanetorget (buss) plattform D</td>
    <td class="tg-cly1">54 mot Kjelsås stasjon</td>
    <td class="tg-cly1">Arendalsgata</td>
  </tr>
  <tr>
    <td class="tg-cly1"><span style="font-weight:400;font-style:normal;text-decoration:none">Jernbanetorget (buss) plattform D</span></td>
    <td class="tg-cly1">34 mot Tåsen</td>
    <td class="tg-cly1">Sagene</td>
  </tr>
</tbody>
</table>

<hr id="air">

<h3>Ankomst med fly</h3>

<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  overflow:hidden;padding:10px 5px;word-break:normal;}
.tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tg-lboi{border-color:inherit;text-align:left;vertical-align:middle}
.tg .tg-g7sd{border-color:inherit;font-weight:bold;text-align:left;vertical-align:middle}
</style>
<table class="tg" style="undefined;table-layout: fixed; width: 1008px">
<colgroup>
<col style="width: 205px">
<col style="width: 111px">
<col style="width: 173px">
<col style="width: 378px">
<col style="width: 141px">
</colgroup>
<thead>
  <tr>
    <th class="tg-g7sd">Flyplass</th>
    <th class="tg-g7sd">Reisemåte og reisetid</th>
    <th class="tg-g7sd">Rute</th>
    <th class="tg-g7sd">Holdeplass og videre korrespondanse</th>
    <th class="tg-g7sd">Notater</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td class="tg-lboi" rowspan="7"><span style="font-weight:bold">Oslo lufthavn, Gardermoen</span><br>IATA: OSL<br>ICAO: ENGM</td>
    <td class="tg-lboi">Flybuss (52 min + 5 min gange)</td>
    <td class="tg-lboi">FB1 mot Majorstuen</td>
    <td class="tg-lboi">Arendalsgata. Følg vestover, kryss Bentsebrugata og over i Treschows gate. Ta til høyre inn Ivan Bjørndals gate.</td>
    <td class="tg-lboi">Enkleste reise - ingen korrespondanse.</td>
  </tr>
  <tr>
    <td class="tg-lboi" rowspan="3">Lokal- og regionaltog (40 min + 5 min gange)</td>
    <td class="tg-lboi">L12 mot Kongsberg</td>
    <td class="tg-lboi" rowspan="4">Nationaltheateret (tog) eller Oslo Sentralstasjon. <span style="font-weight:400;font-style:normal;text-decoration:none">Følg "Ankomst med tog".</span></td>
    <td class="tg-lboi" rowspan="3">Billigste reise.</td>
  </tr>
  <tr>
    <td class="tg-lboi">R10 mot Drammen</td>
  </tr>
  <tr>
    <td class="tg-lboi">R11 mot Skien</td>
  </tr>
  <tr>
    <td class="tg-lboi" rowspan="2">Ekspresstog (39 min + 5 min gange)</td>
    <td class="tg-lboi">FLY1 mot Drammen</td>
    <td class="tg-lboi" rowspan="2">Hyppigere enn lokal- og regiontog.</td>
  </tr>
  <tr>
    <td class="tg-lboi">FLY2 mot Oslo S</td>
    <td class="tg-lboi">Oslo Sentralstasjon. Følg "Ankomst med tog".</td>
  </tr>
  <tr>
    <td class="tg-lboi">Rutebuss (101 min + 5 min gange)</td>
    <td class="tg-lboi">400 mot Oslo bussterminal</td>
    <td class="tg-lboi" rowspan="2">Oslo bussterminal. Følg "Ankomst på Oslo bussterminal".</td>
    <td class="tg-lboi">Samme pris som lokal- og regiontog, mye treigere og ikke hyppige avganger.</td>
  </tr>
  <tr>
    <td class="tg-lboi" rowspan="2"><span style="font-weight:bold">Sandefjord lufthavn, Torp</span><br>IATA: TRF<br>ICAO: ENTO</td>
    <td class="tg-lboi">Flybuss (117 min + 5 min gange)</td>
    <td class="tg-lboi">F25 mot Oslo</td>
    <td class="tg-lboi">Billigere og korresponderer med faktiske flyavganger.</td>
  </tr>
  <tr>
    <td class="tg-lboi">Tog (140 min + 5 min gange)</td>
    <td class="tg-lboi">R11 mot Eidsvoll</td>
    <td class="tg-lboi">Nationaltheateret (tog). <span style="font-weight:400;font-style:normal;text-decoration:none">Følg "Ankomst med tog".</span></td>
    <td class="tg-lboi">Må ta matebuss fra flyplassen.</td>
  </tr>
  <tr>
    <td class="tg-lboi"><span style="font-weight:bold">Kjeller flyplass</span><br>IATA: –<br>ICAO: ENKJ</td>
    <td class="tg-lboi">Rutebuss (36 min + 16 min gange)</td>
    <td class="tg-lboi">340 mot Olavsgård, bytte til 380 mot Oslo bussterminal</td>
    <td class="tg-lboi">Sinsen T-banestasjon. Følg Hans Nielsen Hauges gate, ta til venstre inn Åsengata. Følg til Ivan Bjørndals gate.</td>
    <td class="tg-lboi">To korrespondanser, men kommer nært Ivan Bjørndals gate 6.</td>
  </tr>
</tbody>
</table>

<hr id="bus">

<h3>Ankomst med ekspressbuss</h3>

<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  overflow:hidden;padding:10px 5px;word-break:normal;}
.tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tg-fymr{border-color:inherit;font-weight:bold;text-align:left;vertical-align:top}
.tg .tg-0pky{border-color:inherit;text-align:left;vertical-align:top}
.tg .tg-0lax{text-align:left;vertical-align:top}
</style>
<table class="tg">
<thead>
  <tr>
    <th class="tg-fymr">Ekspressbussens holdeplass</th>
    <th class="tg-fymr">Rute</th>
    <th class="tg-fymr">Endeholdeplass</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td class="tg-0pky">Tjuvholmen</td>
    <td class="tg-0pky" rowspan="3">54 mot Kjelsås stasjon</td>
    <td class="tg-0pky" rowspan="3">Arendalsgata</td>
  </tr>
  <tr>
    <td class="tg-0pky">Vika</td>
  </tr>
  <tr>
    <td class="tg-0pky" rowspan="2">Nationaltheateret (buss)</td>
  </tr>
  <tr>
    <td class="tg-0lax">11 mot Kjelsås</td>
    <td class="tg-0lax">Sandaker senter</td>
  </tr>
  <tr>
    <td class="tg-0pky">Oslo bussterminal</td>
    <td class="tg-0pky">37 mot Nydalen</td>
    <td class="tg-0pky">Arendalsgata</td>
  </tr>
</tbody>
</table>

<hr id="ferry">

<h3>Ankomst med passasjerbåt</h3>

<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  overflow:hidden;padding:10px 5px;word-break:normal;}
.tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tg-lboi{border-color:inherit;text-align:left;vertical-align:middle}
.tg .tg-g7sd{border-color:inherit;font-weight:bold;text-align:left;vertical-align:middle}
</style>
<table class="tg" style="undefined;table-layout: fixed; width: 907px">
<colgroup>
<col style="width: 216px">
<col style="width: 126px">
<col style="width: 169px">
<col style="width: 169px">
<col style="width: 227px">
</colgroup>
<thead>
  <tr>
    <th class="tg-g7sd">Båtlinje</th>
    <th class="tg-g7sd">Kai</th>
    <th class="tg-g7sd">Holdeplass</th>
    <th class="tg-g7sd">Rute videre</th>
    <th class="tg-g7sd">Endeholdeplass</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td class="tg-lboi">B1 og B2 (Hovedøya, Bleikøya, Gressholmen, Lindøya, Nakkholmen og Langøyene)</td>
    <td class="tg-lboi" rowspan="6">Aker Brygge (båt)</td>
    <td class="tg-lboi" rowspan="7">Gå til Aker brygge (trikk)</td>
    <td class="tg-lboi" rowspan="7">12 mot Kjelsås</td>
    <td class="tg-lboi" rowspan="7">Sandaker senter</td>
  </tr>
  <tr>
    <td class="tg-lboi">B10 (Nesodden)</td>
  </tr>
  <tr>
    <td class="tg-lboi">B11 (Lysaker)</td>
  </tr>
  <tr>
    <td class="tg-lboi">B20 (Slemmestad)</td>
  </tr>
  <tr>
    <td class="tg-lboi">B21 (Drøbak, Son)</td>
  </tr>
  <tr>
    <td class="tg-lboi">B22 (Slemmestad, Drøbak)</td>
  </tr>
  <tr>
    <td class="tg-lboi">Cruiseskip eller veteranbåt</td>
    <td class="tg-lboi">Akershusstranda</td>
  </tr>
  <tr>
    <td class="tg-lboi">Color Line (Kiel)</td>
    <td class="tg-lboi">Filipstad</td>
    <td class="tg-lboi">Sinsen T-bane</td>
    <td class="tg-lboi">33 mot Ellingsrudåsen T</td>
    <td class="tg-lboi">Sinsen T. <br><span style="font-weight:400;font-style:normal;text-decoration:none">Følg Hans Nielsen Hauges gate</span>, <br>ta til venstre inn Åsengata. <br>Følg til Ivan Bjørndals gate.</td>
  </tr>
  <tr>
    <td class="tg-lboi">DFDS (København)</td>
    <td class="tg-lboi">Vippetangen</td>
    <td class="tg-lboi">Jernbanetorget</td>
    <td class="tg-lboi" colspan="2">Følg "ankomst med tog" seksjon for Oslo Sentralstasjon.</td>
  </tr>
</tbody>
</table>