<script>
function copyToClipboard(element) {
  var $temp = $("<input>");
  $("body").append($temp);
  $temp.val($(element).text()).select();
  document.execCommand("copy");
  $temp.remove();
}
</script>

<div class="table-responsive">
  <table class="table table-hover" id="collapseHoldeplasser">
    <thead>
      <tr>
        <th>Plattform</th>
        <th>Adresse/brukernavn</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Airbnb</td>
        <td><a href="https://www.airbnb.no/users/show/4466713">Petter <sup><i class="fas fa-external-link-alt"></i></sup></a></td>
      </tr>
      <tr>
        <td>Apple Music</td>
        <td><a href="https://music.apple.com/profile/petterholstad">petterhol <sup><i class="fas fa-external-link-alt"></i></sup></a></td>
      </tr>

      <tr>
        <td>Beer With Me</td>
        <td><a href="https://open.beerwithme.se/#addfriend?email=u2231084@beerwithme.se&name=Petterus"
           >petterhol <sup><i class="fas fa-external-link-alt"></i></sup></a></td>
      </tr>
      <tr>
        <td>Digipost</td>
        <td><text id="DIGIPOST"><div style="display:none;">petter.holstad#0D8M</div></text>petter.holstad#0D8M <button class="btn badge badge-light" onclick="copyToClipboard('#DIGIPOST')">Kopier</button></td>
      </tr>
      <tr>
        <td>E-post</td>
<td><text id="EMAIL">
<div style="display:none;">
	hei@pdog.no
</div></text>
	<a href="mailto:hei@pdog.no">hei@pdog.no</a> 
<button 
class="btn badge badge-light" 
onclick="copyToClipboard('#EMAIL')">
Kopier</button></td>      </tr>
      <tr>
        <td>Finn.no</td>
        <td><a href="https://www.finn.no/user/profile/profile.html?id-287595302">Petter Holstad  <sup><i class="fas fa-external-link-alt"></i></sup></a></td>
      </tr>
      <tr>
        <td>Facebook Messenger</td>
        <td>Petter Holstad</td>
      </tr>
      
      <tr>
      <td>GitHub</td>
      <td><text id="github">
      <div style="display:none;">
      petterhol
      </div></div>
      <a href="https://github.com/petterhol">@petterhol <sup><i class="fas fa-external-link-alt"></i></sup></a>
      <button
      class="btn badge badge-light"
      onclick="copyToClipboard('#github')">
      Kopier</button></td>
      <tr>
        <td>Google Hangouts</td>
<td><text id="Google-hangouts">
<div style="display:none;">
	google@pdog.no
</div></text>
	google@pdog.no 
<button 
class="btn badge badge-light" 
onclick="copyToClipboard('#Google-hangouts')">
Kopier</button></td>
     </tr>
      <tr>
        <td>iMessage</td>
<td><text id="imessage">
<div style="display:none;">
	+4792696496
</div></text>
	+47&nbsp;926&nbsp;96&nbsp;496 
<button 
class="btn badge badge-light" 
onclick="copyToClipboard('#imessage')">
Kopier</button></td>
      </tr>
      <tr>
        <td>Instagram</td>
<td><text id="instagram">
<div style="display:none;">
	petterhol
</div></text>
	<a href="https://www.instagram.com/petterhol/">@petterhol <sup><i class="fas fa-external-link-alt"></i></sup></a>
<button 
class="btn badge badge-light" 
onclick="copyToClipboard('#instagram')">
Kopier</button></td>      </tr>
      
<tr>
        <td>PayPal</td>
<td><text id="PayPal">
<div style="display:none;">
petterhol
</div></text>
<a href="https://www.paypal.com/paypalme/petterhol?locale.x=no_NO">@petterhol <sup><i class="fas fa-external-link-alt"></i></sup></a>
<button 
class="btn badge badge-light" 
onclick="copyToClipboard('#PayPal')">
Kopier</button></td>
      </tr>
      

      <tr>
        <td>Signal</td>
<td><text id="signal">
<div style="display:none;">
	+4792696496
</div></text>
	+47&nbsp;926&nbsp;96&nbsp;496 
<button 
class="btn badge badge-light" 
onclick="copyToClipboard('#signal')">
Kopier</button></td>
      </tr>
      <tr>
        <td>Skatteetaten</td>
        <td><a href="https://catsnthing.com/PUVGEB">Gå til siste skattemelding <sup><i class="fas fa-external-link-alt"></i></sup></a></td>
      </tr>
      <tr>
        <td>Skype</td>
<td><text id="skype">
<div style="display:none;">
	skype@pdog.no
</div></text>
	skype@pdog.no 
<button 
class="btn badge badge-light" 
onclick="copyToClipboard('#skype')">
Kopier</button></td>      </tr>
      <tr>
        <td>Telefonnummer</td>
<td><text id="telefonnummer">
<div style="display:none;">
	+4792696496
</div></text>
	+47&nbsp;926&nbsp;96&nbsp;496 
<button 
class="btn badge badge-light" 
onclick="copyToClipboard('#telefonnummer')">
Kopier</button></td>
      </tr>
      <tr>
        <td>Postadresse <br>(brev, pakker)</td>
<td><text id="adresse">
<div style="display:none;">
	Ivan Bjørndals gate 6, 0472 Oslo
</div></text>
	Ivan Bjørndals gate 6<br>0472 Oslo 
<button 
class="btn badge badge-light" 
onclick="copyToClipboard('#adresse')">
Kopier</button></td>      </tr>
      <tr>
        <td>Vipps</td>
<td><text id="vipps">
<div style="display:none;">
	+4792696496
</div></text>
<a href="https://qr.vipps.no/28/2/01/031/4792696496?v=1">+47&nbsp;926&nbsp;96&nbsp;496 <sup><i class="fas fa-external-link-alt"></i></sup></a>
<button 
class="btn badge badge-light" 
onclick="copyToClipboard('#vipps')">
Kopier</button></td></td>
      </tr>
      <tr>
        <td>Xbox Live</td>
<td><text id="xboxlive">
<div style="display:none;">
	petterhol3883
</div></text>
	petterhol3883 
<button 
class="btn badge badge-light" 
onclick="copyToClipboard('#xboxlive')">
Kopier</button></td>      </tr>

    </tbody>
  </table>
</div>
