<div class="w-auto p-3">
<div class="card" style="width: 18rem;">
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><h4>Kontaktinformasjon</h4></li>
    <li class="list-group-item">Takk for at du har funnet min {{ .Get "longname" }}. Jeg vil gjerne ha den tilbake, og jeg ber om at du kontakter meg på følgende kontaktinformasjon. Finnerlønn.<br><br></li>
    <li class="list-group-item">Telefon/SMS: <a href="callto:004792696496">+47&nbsp;926&nbsp;96&nbsp;496</a></li>
    <li class="list-group-item">E-post: <a href="mailto:lost{{ .Get "product" }}@pdog.no?subject=Jeg%20har%20funnet%20din%20Mac&Body=Hei%20Petter!%20Jeg%20har%20funnet%20din%20MacBook%20Pro%20her:%20Jeg%20vil%20gjerne%20hjelpe%20deg%20med%20å%20få%20den%20tilbake.">lost{{ .Get "product" }}@pdog.no</a></li>
    <li class="list-group-item">Andre kanaler: <a href="../kontaktinformasjon">trykk her</a></li>
  </ul>
</div>
</div>

<div class="w-auto p-3">
<div class="card" style="width: 18rem;">
  <img src="{{ .Get "src" }}" class="card-img-top" alt="{{ .Get "alt" }}">
  </a>
</div>
</div>

<div class="w-auto p-3">
<div class="card" style="width: 18rem;">
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><h4>Contact information</h4></li>
    <li class="list-group-item">Thanks for finding my min {{ .Get "longname" }}. I would love to have it back, and I ask that you contact me with the following contact information. Reward payable.</li>
    <li class="list-group-item">Telefon/SMS: <a href="callto:004792696496">+47&nbsp;926&nbsp;96&nbsp;496</a></li>
    <li class="list-group-item">E-post: <a href="mailto:lost{{ .Get "product" }}@pdog.no?subject=Jeg%20har%20funnet%20din%20Mac&Body=Hei%20Petter!%20Jeg%20har%20funnet%20din%20MacBook%20Pro%20her:%20Jeg%20vil%20gjerne%20hjelpe%20deg%20med%20å%20få%20den%20tilbake.">lost{{ .Get "product" }}@pdog.no</a></li>
    <li class="list-group-item">Andre kanaler: <a href="../kontaktinformasjon">trykk her</a></li>
  </ul>
</div>
</div>