<div id="podcast-card">
<div class="podcast-card" data-category="{{ .Get "merkelapp" }}">
<div class="card" style="width: 18rem;">
<a href="{{ .Get "offisiell" }}" target="_blank">
  <img src="{{ .Get "src" }}" class="card-img-top" alt="{{ .Get "alt" }}">
  </a>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><h4>{{ .Get "header" }}</h4></li>
    <li class="list-group-item">{{ .Inner }}</li>
    <li class="list-group-item">Publiseres av: {{ .Get "utgiver" }}</li>
    <li class="list-group-item">Utgivelse: {{ .Get "hyppighet" }}</li>
    <li class="list-group-item">Lengde: {{ .Get "varighet" }}</li>
  </ul>
    <div class="card-footer text-muted">
    <a href="{{ .Get "offisiell" }}" class="card-link" target="_blank"><span class="text-dark">Offisielt nettsted <sup><i class="fas fa-external-link-alt"></i></sup></span></a>
    </div>
    <div class="card-footer text-muted">
    <a href="{{ .Get "pocket" }}" class="card-link" target="_blank"><span class="text-dark">Finn i Pocket Casts <sup><i class="fas fa-external-link-alt"></i></sup></span></a>    
  </div>  
</div>
</div>
</div>