<div class="card-group">
  <div class="card">
    <img src="ring1.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text"><small class="text-muted">Foto: Peter Fiskerstrand under CC BY-SA 4.0 hentet fra <a href="https://commons.wikimedia.org/wiki/File:Vaterlandstunnelen.jpg">Wikipedia</a></small></p>
      <h5 class="card-title">Ring 1 Circuit</h5>
      <p class="card-text">Riksvei 162, også kalt Ring 1, Henrik Ibsen-ringen, Ibsen-ringen og Indre ring, er navn på den innerste av Oslos tre ringveier. Den går mellom Filipstad i vest og Ekebergskråningen i øst. Ring 1 er statlig og har fra 2010 vært identisk med Riksvei 162.</p>
        <br>
    <a href="https://www.geoguessr.com/maps/604949023266fd000157e4c0" class="btn btn-primary">Spill kartet</a>
    </div>
    
  </div>
  <div class="card">
    <img src="ring2.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text"><small class="text-muted">Foto: Helge Høifødt under CC BY-SA 4.0 hentet fra <a href="https://commons.wikimedia.org/wiki/File:Carl_Berners_plass_sett_fra_Finnmarkgata.jpg">Wikipedia</a></small></p>
      <h5 class="card-title">Ring 2</h5>
      <p class="card-text">Ring 2, også kalt Kirkeveiringen, går i dag mellom Skøyen og Lodalen i Oslo. Ringen er 9,7 km lang og kommunal. Før forvaltningsrevisjonen av 1. januar 2010 var Ring 2 statlig med riksveisnummer 161.</p>
<br><br>        <a href="https://www.geoguessr.com/maps/6186e99337be530001bae49b" class="btn btn-primary">Spill kartet</a>
    </div>
  </div>
  <div class="card">
    <img src="ring3.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text"><small class="text-muted">Foto: Quevaal under CC BY-SA 2.5 hentet fra <a href="https://commons.wikimedia.org/wiki/File:Ring_3_and_E6_Oslo_Quevaal.jpg">Wikipedia</a></small></p>
      <h5 class="card-title">Ring 3</h5>
      <p class="card-text">Riksvei 150 også kalt Ring 3 går mellom Lysaker i Bærum og Ryenkrysset i Oslo. Traseen har to felt i hver retning og er skiltet Ring 3 (ikke med riksvei-skilt). Den kalles også Store ringvei, som var det offisielle navnet på traseen før ringveiene i Oslo-området ble nummerert.</p>
    <a href="https://www.geoguessr.com/maps/6187b2694993490001948564" class="btn btn-primary">Spill kartet</a>
    </div>
  </div>
</div>