<form method="POST" action="https://www.domeneshop.no/cgi-bin/mailto.cgi" accept-charset="ISO-8859-1">
<input type="hidden" name="_to" value="feedback@pdog.no">
<input type="hidden" name="_from" value="feedback@pdog.no">
<input type="hidden" name="_subject" value="Tilbakemelding">
<input type="hidden" name="_resulturl"
value="http://pdog.no/skjemasvar">

<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon1">Din e-postadresse</span>
  </div>
  <input type="text" name="epost" class="form-control" placeholder="eksempel@pdog.no" aria-label="Username" aria-describedby="basic-addon1">
</div>

<div class="input-group">
  <div class="input-group-prepend">
    <span class="input-group-text">Hva vil du si?</span>
  </div>
  <textarea name="henvendelse" class="form-control" aria-label="With textarea"></textarea>
  <br><br><br>
  <button type=submit class="btn btn-primary">Send inn</button>
</form>
