<div class="w-auto p-3">
<div class="card" style="width: 18rem;">
<a href="{{ .Get "src" }}" target="_blank">
  <img src="{{ .Get "src" }}" class="card-img-top" alt="{{ .Get "alt" }}">
  </a>
  <ul class="list-group list-group-flush">
    <li class="list-group-item text-muted">
    <small>Fotograf: {{ .Get "fotograf" }}. <a href="{{ .Get "lisenslenke" }}" class="card-link" target="_blank">{{ .Get "lisens" }}</a>. Hentet fra: <a href="{{ .Get "sourcelenke" }}" target="_blank">{{ .Get "source" }}</a>.</small>
    </li>
    <li class="list-group-item"><h4>{{ .Get "header" }}</h4></li>
    <li class="list-group-item">{{ .Inner }}</li>
    <li class="list-group-item text-muted">Adresse: {{ .Get "adresse" }}</li>
    <li class="list-group-item text-muted">Parkering: {{ .Get "parkering" }}</li>
    <li class="list-group-item text-muted">Betaling: {{ .Get "betaling" }}</li>
    <li class="list-group-item text-muted">Tid: {{ .Get "tid" }}</li>
  </ul>
    <div class="card-footer text-muted">
    <a href="{{ .Get "lenke" }}" class="card-link" target="_blank"><span class="text-dark">Les mer/nettsted <i class="fas fa-external-link-alt"></i></span></a>
    </div>
    <div class="card-footer text-muted">
    <a href="{{ .Get "kartlenke" }}" class="card-link" target="_blank"><span class="text-dark">Åpne i Kart <i class="fas fa-external-link-alt"></i></span></a>
    </div>
</div>
</div>