<div class="card" style="max-width: 80rem;">
  <div class="card-body">
    <h5 class="card-title">{{ .Get "header" }}</h5>
    <p class="card-text">Hvis du har hatt glede av innholdet i denne artikkelen, eller hvis
    du har noen tilbakemeldinger, forslag eller feilmeldinger, setter jeg stor pris på
    å komme i kontakt med deg!</p>
    <a href="mailto:pdog-tilbakemelding-{{ .Get "id" }}@pdog.no" class="btn btn-outline-primary">Kontakt meg om denne siden</a>
    <a href="#" class="btn btn-outline-dark">Les mer om tilbakemeldinger om pdog.no</a>
  </div>
</div>