<p>
  <a class="btn btn-primary text-white bg-danger btn-link" data-toggle="collapse" href="#ja" role="button" aria-expanded="false" aria-controls="ja">
    Jeg er <b>ENIG</b> vilkårene over.
  </a>
</p>
<div class="collapse" id="ja">
  <div class="card card-body">
    <p>Nettverksnavn (SSID):</b> pdog.no/wifi</p>
    <p>Passordet finner du på en plakat i stua, til høyre for balkongdøra. Følg normale rettskrivingsregler med stor forbokstav ved setningens start.</p>
</div>
</div>
<p>
  <a class="btn btn-primary text-white bg-success btn-link" data-toggle="collapse" href="#njet" role="button" aria-expanded="false" aria-controls="njet">
    Jeg er <b>UENIG</b> vilkårene over.
  </a>
</p>
<div class="collapse" id="njet">
  <div class="card card-body">
<p>Beklager, men du kan ikke koble deg på nettet.</p>
</div>
</div>