<!-- Øverste seksjon -->

<div class="row row-cols-1 row-cols-md-3 g-3">
  <div class="col">
  <a href="../visit" style="color:#ffffff">
    <div class="card bg-primary text-white">
      <div class="card-body">
        <h5 class="card-title">Gå eller sykle</h5>
        <p class="card-text">Anbefalte gåturer, sykkelruter, parkering for sykler, Oslo Bysykkel og sparkesykkelutleie. Trykk her for å gå tilbake.</p>
      </div>
      </a>
    </div>
  </div>
  <div class="col">
  <a href="walkandcycle" style="color: #000000">
    <div class="card text-dark bg-light mb-3">
      <div class="card-body">
        <img align="right" width=50 src="oslobysykkel-logo.png">
        <h5 class="card-title">Oslo bysykkel</h5>
        <p class="card-text">Tilbyder av utleiesykler med mange stasjoner i Oslo, både dags- og sesongkort. Lås opp med app på mobilen.</p>
      </div>
    </div>
        </a>
  </div>
  <div class="col">
  <a href="carorcab" style="color: #000000">
    <div class="card text-dark bg-light mb-3">
      <div class="card-body">
              <img align="right" width=50 src="googlemaps-logo.png">
        <h5 class="card-title">Google Maps</h5>
        <p class="card-text">Populær karttjeneste som har gode ruter for gående og syklende i byen. Skriv inn fra og til, se tegnet kart og satelittfoto.</p>
      </div>
    </div>
  </div>
      </a>
</div>

<hr id="walk">

<h3>Anbefalt gårute</h3>

Hvor du bør gå er ofte avhengig av hvor du starter, men en god ledetråd er at du bør komme deg til Akerselva. Ivan Bjørndals gate ligger nemlig rett ved siden av.

<hr id="cycle">

<h3>Sykkelruter</h3>

Det er mulig å sykle i hele Oslo, hvor det stort sett er oppmerka sykkelfelt.

Kommunen har laget et <a href="https://www.oslo.kommune.no/gate-transport-og-parkering/sykkel/sykkelkart/">sykkelkart</a> på sine nettsider som kan hjelpe deg å finne veien.

Det er én oppmerka kommunal sykkelrute som går forbi her: sykkelrute 8. Den har følgende trasé: Børsen - Youngstorget - Markveien - Grünerløkka - Ringnes park - Torshov - Sinsen.

<hr id="cycleparking">

<h3>Parkering for sykler og sparkesykler</h3>

Det er et sykkelstativ rett foran inngangsdøren. Hvis du kontakter meg på forhånd, kan jeg også hjelpe deg med innendørs parkering.

<hr id="rental">

<h3>Utleie av sykler og sparkesykler</h3>

Oslo bysykkel (nevnt over) leier ut bysykler.

El-sparesykler og el-sykler kan leies av firmaer som har tillatelse til dette.
<a href="https://www.oslo.kommune.no/gate-transport-og-parkering/sykkel/leie-av-elsparkesykler-og-elsykler/">Oslo kommune har en oversikt</a>.
